<div class='ticket-products-wrapper flex-center-right-column full-width'>
    <% const numberOfProducts = ticket.products ? ticket.products.length : 0 %> 
    <div class='product-wrapper-header flex-center-left-row'>
        <h4>Products - <span><%= numberOfProducts %></span></h4>
    </div>
    <div class='table-header secondary-table-header flex-center-center-row'>
        <div class='column-header'></div>
        <div class='column-header'>#</div>
        <div class='column-header'>Products</div>
        <div class='column-header'></div>
        <div class='column-header'></div>
        <div class='column-header'></div>
        <div class='column-header'>Frames</div>
        <div class='column-header'>Quantity</div>
        <div class='column-header'>Artwork</div>
    </div>
    <div class='full-width flex-center-right-column products-table'>
        <% ticket.products && ticket.products.forEach((product, index) => { %>
        <div class='product-wrapper flex-top-center-column'>
            <div class='table-row flex-center-center-row'>
            <div class='group-lines'></div>
            <div class='flex-center-center-row full-width'>
            <div class='column-td column-td bg-green'>
                <i class='fa-light fa-ellipsis-vertical text-white'></i>
                <div class='ticket-dropdown-options dropdown'>
                <ul> 
                    <a href="/products/<%= product._id %>"><li><i class="fa-regular fa-eye"></i>View Product</li></a>
                    <li class='collapse-ticket'><i class="fa-regular fa-arrows-to-line"></i>Hide Products</li>
                </ul>
                </div>
            </div>
            <div class='column-td bg-white'><%= index + 1 %></div>
            <div class='column-td product-number-column bg-white'><%= product.productNumber || 'N/A' %></div>
            <div class='column-td bg-white'></div>
            <div class='column-td bg-white'></div>
            <div class='column-td bg-white'></div>
            <div class='column-td bg-white'><%= product.framesPlusOverRun || 'N/A'%></div>
            <div class='column-td bg-white'><%= product.labelQty || 'N/A'%></div>
            <div class='column-td bg-white'>
                <% if (product.proof && product.proof.url) { %>
                    <a href="<%= product.proof.url %>"><i class="fa-regular fa-image-polaroid"></i></a>
                <% } else { %>
                    N/A
                <% } %>
            </div>
        </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>