<% const requiredAttributesAreNotDefined = !tableIdentifier || !requests || !columns || !cssClassToUseForTableColoring %>

<% if (requiredAttributesAreNotDefined) { %>
  <% throw new Error(`Error: attempting to render a ticket-table without defining all required attributes.`) %> 
<% } %>

<% const rowNumberColumnType = 'row-number' %>
<% const requestTypeColumnType = 'request-type' %>
<% const dateCreatedColumnType = 'date-created' %>

<% const orderPrepDepartmentIdentifier = 'ORDER-PREP' %> 
<% const artPrepDepartmentIdentifier = 'ART-PREP' %> 

<% const columnTypeToColumnName = {
    [rowNumberColumnType]: '#',
    [requestTypeColumnType]: 'Type',
    [dateCreatedColumnType]: 'date created',
    undefined: '',
    null: '',
    '': ''
  }
%>

<% const departmentNameKey = 'departmentName'; %>
<% const departmentStatusKey = 'departmentStatus'; %>
<% const departmentIdentifierKey = 'departmentIdentifier'; %>

<% const orderPrepDepartment = 'Order Prep'; %>
<% const artPrepDepartment = 'Art Prep'; %>

<% const needsAttentionDepartmentStatus = 'Needs Attention'; %>
<% const onHoldDepartmentStatus = 'On Hold'; %>
<% const waitingOnCustomerDepartmentStatus = 'Waiting on Customer'; %>
<% const waitingOnApprovalDepartmentStatus = 'Waiting on Approval'; %>
<% const requestComplete = 'Request Complete'; %>
<% const inProgressDepartmentStatus = 'In Progress'; %>
<% const needsPlateDepartmentStatus = 'Needs Plate'; %>
<% const needsDieLineDepartmentStatus = 'Needs Die Line'; %>


<% const tableIdetifierToHumanReadableNames = 
  {
    'order-prep-needs-attention': {
      [departmentNameKey]: orderPrepDepartment,
      [departmentStatusKey]: needsAttentionDepartmentStatus,
      [departmentIdentifierKey]: orderPrepDepartmentIdentifier
    },
    'order-prep-on-hold': {
      [departmentNameKey]: orderPrepDepartment,
      [departmentStatusKey]: onHoldDepartmentStatus,
      [departmentIdentifierKey]: orderPrepDepartmentIdentifier
    },
    'order-prep-waiting-on-customer': {
      [departmentNameKey]: orderPrepDepartment,
      [departmentStatusKey]: waitingOnCustomerDepartmentStatus,
      [departmentIdentifierKey]: orderPrepDepartmentIdentifier
    },
    'order-prep-request-complete': {
      [departmentNameKey]: orderPrepDepartment,
      [departmentStatusKey]: requestComplete,
      [departmentIdentifierKey]: orderPrepDepartmentIdentifier
    },
    'order-prep-waiting-on-approval': {
      [departmentNameKey]: orderPrepDepartment,
      [departmentStatusKey]: waitingOnApprovalDepartmentStatus,
      [departmentIdentifierKey]: orderPrepDepartmentIdentifier
    },
    'art-prep-needs-attention': {
      [departmentNameKey]: artPrepDepartment,
      [departmentStatusKey]: needsAttentionDepartmentStatus,
      [departmentIdentifierKey]: artPrepDepartmentIdentifier
    },
    'art-prep-on-hold': {
      [departmentNameKey]: artPrepDepartment,
      [departmentStatusKey]: onHoldDepartmentStatus,
      [departmentIdentifierKey]: artPrepDepartmentIdentifier
    },
    'art-prep-in-progress': {
      [departmentNameKey]: artPrepDepartment,
      [departmentStatusKey]: inProgressDepartmentStatus,
      [departmentIdentifierKey]: artPrepDepartmentIdentifier
    },
    'art-prep-needs-plate': {
      [departmentNameKey]: artPrepDepartment,
      [departmentStatusKey]: needsPlateDepartmentStatus,
      [departmentIdentifierKey]: artPrepDepartmentIdentifier
    },
    'art-prep-needs-die-line': {
      [departmentNameKey]: artPrepDepartment,
      [departmentStatusKey]: needsDieLineDepartmentStatus,
      [departmentIdentifierKey]: artPrepDepartmentIdentifier
    }
  }
%>

<% if (Object.keys(tableIdetifierToHumanReadableNames).indexOf(tableIdentifier) === -1) { %>
  <% throw new Error(`Error: the tableIdentifier "${tableIdentifier}" is unknown and cannot be used to render a table.`) %> 
<% } %>

<% const validColumnTypes = Object.keys(columnTypeToColumnName) %> 
<% const department = tableIdetifierToHumanReadableNames[tableIdentifier][departmentNameKey] %> 
<% const departmentStatus = tableIdetifierToHumanReadableNames[tableIdentifier][departmentStatusKey] %>
<% const departmentIdentifier = tableIdetifierToHumanReadableNames[tableIdentifier][departmentIdentifierKey] %>

<% Object.values(columns).forEach((columnType) => { %>
    <% const theColumnTypeIsUnknown = !validColumnTypes.includes(columnType) %> 
    <% if (theColumnTypeIsUnknown) { %>
        <% throw new Error(`Error: an unknown column type called "${columnType}" could not be rendered properly.`) %> 
    <% } %>
<% }) %>

<% if (!department || !departmentStatus || !departmentIdentifier) { %>
  <% throw new Error(`Error: the departmentIdentifier "${departmentIdentifier}" does not map to any known department and/or subdepartment and/or departmentIdentifier`) %> 
<% } %>


<div class='status-section needs-attention-status <%= cssClassToUseForTableColoring %> card'>
    <div class='side-bumper'></div>
    <% const totalNumberOfRequestsInThisDepartment = 'TODO' %>
    <span><%= department %> - <%= totalNumberOfRequestsInThisDepartment %></span>
    <div class='header flex-center-left-row'>
      <%- include('department-expand-options.ejs') %>
      <h3 class='category-header collapse-group-cheater'><%= departmentStatus %> - <span class='category-ticket-count'><%= requests.length %></span></h3>
    </div>
    <div class='table ticket-container flex-top-center-column'>
      <div class='table-header flex-center-center-row'>
        <%- include('ticket-table-column-header.ejs', {columnName: ''}) %>

        <% Object.keys(columns).forEach((rowNumber) => { %>
          <% const columnType = columns[rowNumber] %>
          <% const columnName = columnTypeToColumnName[columnType] %> 
          <%- include('ticket-table-column-header.ejs', {columnName}) %>
        <% }) %>
      </div>

      <div id='<%= tableIdentifier %>-table' class='table-body flex-center-center-column'>
        <% requests.forEach((request, index) => { %>
        <div id='ticket-row-<%= request._id %>' class='table-row-wrapper full-width <%= tableIdentifier %>-row' data-request-id="<%= request._id %>">
          <div class='table-row flex-center-center-column'>
            <div class='flex-center-center-row ticket-wrapper full-width'>
              
              <div class='column-td'>
                <i class='fa-light fa-ellipsis-vertical text-white'></i>

              </div>

              <% Object.keys(columns).forEach((rowNumber) => { %>
                <% const columnType = columns[rowNumber] %>

                <% if (!columnType) { %>
                  <%- include('ticket-table-column-td.ejs', {columnValue: ''}) %>
                  <% return %>
                <% } %>
                
                <% if (columnType === rowNumberColumnType) { %>
                  <%- include('ticketTableColumns/text-column.ejs', {
                      columnValue: index + 1
                    })
                  %>
                <% } else if (columnType === requestTypeColumnType) { %>
                  <%- include('ticketTableColumns/text-column.ejs', {
                      columnValue: 'TODO: Request Type'
                    })
                  %>
                <% } else if (columnType === dateCreatedColumnType) { %>
                <%- include('ticketTableColumns/text-column.ejs', {
                    columnValue: 'TODO: Date Created'
                    })
                %>
                <% } else { %>
                  <% throw new Error(`Error: the columnType of "${columnType}" is not valid!`) %> 
                <% }%>
              <% }) %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>