<!-- TODO: make sure 'tableName' is in the defined list of accepted values -->
<!-- TODO: make sure 'columns' are all in the defined list of accepted values -->

<div class='status-section red-master card'>
    <div class='side-bumper'></div>
    <span><%= department %> - <%= totalNumberOfTicketsInThisDepartment %></span>
    <div class='header flex-center-left-row'>
      <%- include('department-expand-options.ejs') %>
      <h3 class='category-header collapse-group-cheater'><%= departmentStatus %> - <span class='category-ticket-count'><%= tickets.length %></span></h3>
    </div>
    <div class='table ticket-container flex-top-center-column'>
      <div class='table-header flex-center-center-row'>
        <div class='column-header column-header-a'></div>
        <div class='column-header column-header-b'>#</div>
        <div class='column-header column-header-c'>Ticket Number</div>
        <div class='column-header column-header-d'>Status</div>
        <div class='column-header column-header-e'></div>
        <div class='column-header column-header-f'></div>
        <div class='column-header column-header-g'></div>
        <div class='column-header column-header-h'>From</div>
        <div class='column-header column-header-i'>Due Date</div>
      </div>
      <div id='<%= tableName %>-table' class='table-body flex-center-center-column'>
        <% tickets.forEach((ticket, index) => { %>
        <div id='ticket-row-<%= ticket._id %>' class='table-row-wrapper full-width <%= tableName %>-row' data-ticket-id="<%= ticket._id %>">
          <%- include('start-job-modal.ejs', {
            ticket: ticket
            }
          ) %>
          <div class='table-row flex-center-center-column'>
            <div class='flex-center-center-row ticket-wrapper full-width'>
              <div class='column-td column-td-a'>
                <i class='fa-light fa-ellipsis-vertical text-white'></i>
                <%- include('ticket-dropdown-options.ejs', {
                  ticket: ticket
                  }
              ) %>
              </div>
              <div class='column-td column-td-b bg-white row-number'><%= index + 1 %></div>
              <div class='column-td column-td-c bg-white ticket-number-column'>#<%= ticket.ticketNumber || 'N/A' %></div>
              <div class='column-td column-td-d bg-white department-status-column'><%= departmentStatus %></div>
              <div class='column-td column-td-e bg-white'></div>
              <div class='column-td column-td-f bg-white'></div>
              <div class='column-td column-td-g bg-white'></div>
              <div class='column-td column-td-h bg-white'>
                <%- include('assignee.ejs') -%>
              </div>
              <div class='column-td column-td-i bg-white due-date-column'><%= helperMethods.getSimpleDate(ticket.shipDate) %></div>
            </div>
          </div>
          <%- include('products-wrapper.ejs', {
            ticket: ticket
            }
        ) %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>