<% const requiredAttributesAreNotDefined = !department || !tableIdentifier || !tickets || !columns %>

<% if (requiredAttributesAreNotDefined) { %>
  <% throw new Error(`Error: attempting to render a ticket-table without defining all required attributes.`) %> 
<% } %>

<% const rowNumberColumnType = 'row-number' %>
<% const ticketNumberColumnType = 'ticket-number' %>
<% const priorityColumnType = 'priority' %>
<% const holdStatusColumnType = 'hold-status' %>
<% const locationColumnType = 'location' %>
<% const lengthColumnType = 'length' %>
<% const materialColumnType = 'material' %>
<% const dieColumnType = 'die' %>
<% const totalRollsColumnType = 'total-rolls' %>
<% const groupedColumnType = 'grouped' %>
<% const productsColumnType = 'products' %>
<% const dueDateColumnType = 'due-date' %>
<% const fromColumnType = 'from' %>
<% const finishColumnType = 'finish' %>
<% const sentDateColumnType = 'sent-date' %>
<% const followUpDateColumnType = 'follow-up-date' %>

<% const columnTypeToColumnName = {
    [rowNumberColumnType]: '#',
    [ticketNumberColumnType]: 'Ticket Number',
    [priorityColumnType]: 'Priority',
    [holdStatusColumnType]: 'Hold Status',
    [locationColumnType]: 'Location',
    [lengthColumnType]: 'Length',
    [materialColumnType]: 'Material',
    [dieColumnType]: 'Die',
    [totalRollsColumnType]: 'Total Rolls',
    [groupedColumnType]: 'Grouped',
    [productsColumnType]: 'Products',
    [dueDateColumnType]: 'Due Date',
    [fromColumnType]: 'From',
    [finishColumnType]: 'Finish',
    [sentDateColumnType]: 'Sent Date',
    [followUpDateColumnType]: 'Follow Up Date',
    undefined: '',
    null: '',
    '': ''
  }
%>

<% const validColumnTypes = Object.keys(columnTypeToColumnName) %> 

<% Object.values(columns).forEach((columnType) => { %>
    <% const theColumnTypeIsUnknown = !validColumnTypes.includes(columnType) %> 
    <% if (theColumnTypeIsUnknown) { %>
        <% throw new Error(`Error: an unknown column type called "${columnType}" could not be rendered properly.`) %> 
    <% } %>
<% }) %>

<div class='status-section needs-attention-status red-master card'>
    <div class='side-bumper'></div>
    <% const totalNumberOfTicketsInThisDepartment = Object.values(tickets).flat().length %>
    <span><%= department %> - <%= totalNumberOfTicketsInThisDepartment %></span>
    <div class='header flex-center-left-row'>
      <%- include('department-expand-options.ejs') %>
      <h3 class='category-header collapse-group-cheater'><% departmentStatus %> - <span class='category-ticket-count'><%= tickets.length %></span></h3>
    </div>
    <div class='table ticket-container flex-top-center-column'>
      <div class='table-header flex-center-center-row'>
        <%- include('ticket-table-column-header.ejs', {columnName: ''}) %>

        <% Object.keys(columns).forEach((rowNumber) => { %>
          <% const columnType = columns[rowNumber] %>
          <% const columnName = columnTypeToColumnName[columnType] %> 
          <%- include('ticket-table-column-header.ejs', {columnName}) %>
        <% }) %>
      </div>

      <div id='<%= tableIdentifier %>-table' class='table-body flex-center-center-column'>
        <% tickets.forEach((ticket, index) => { %>
        <div id='ticket-row-<%= ticket._id %>' class='table-row-wrapper full-width <%= tableIdentifier %>-row' data-ticket-id="<%= ticket._id %>">
          <%- include('start-job-modal.ejs', {ticket}) %>
          <div class='table-row flex-center-center-column'>
            <div class='flex-center-center-row ticket-wrapper full-width'>
              
              <div class='column-td'>
                <i class='fa-light fa-ellipsis-vertical text-white'></i>
                <%- include('ticket-dropdown-options.ejs', {ticket}) %>
              </div>

              <%- include('ticket-table-column-td.ejs', {columnValue: index + 1 }) %>
              <%- include('ticket-table-column-td.ejs', {columnValue: ticket.ticketNumber || 'N/A' }) %>
              <%- include('ticket-table-column-td.ejs', {columnValue: 'NEEDS ATTENTION'}) %>
              <%- include('ticket-table-column-td.ejs', {columnValue: ''}) %>
              <%- include('ticket-table-column-td.ejs', {columnValue: ''}) %>
              <%- include('ticket-table-column-td.ejs', {columnValue: ''}) %>
              <div class='column-td bg-white'><%- include('assignee.ejs') -%></div>
              <div class='column-td bg-white due-date-column'><%= helperMethods.getSimpleDate(ticket.shipDate) %></div>

            </div>
          </div>
          <%- include('products-wrapper.ejs', {
            ticket: ticket
            }
        ) %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>