<div class='ticket-dropdown-options dropdown'>
    <ul>
        <li class='start-ticket back-out-hover'>
            <i class="fa-regular fa-circle-play"></i>Start Ticket
        </li>
        <li class="move-ticket">
            <i class="fa-regular fa-circle-arrow-right"></i>Move
            <div class='department-dropdown-options dropdown'>
            <ul>
                <li class="move-to-department-trigger">Move To Department
                <div class='departments-dropdown'>
                    <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose Dept.</span><span class="drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                    </div>
                    <ul class='department-dropdown-list'>
                    <li class='department-option click-me' data-department-name='ORDER-PREP'>Order Prep</li>
                    <li class='department-option' data-department-name='ART-PREP'>Art Prep</li>
                    <li class='department-option' data-department-name='PRE-PRESS'>Pre-Printing</li>
                    <li class='department-option' data-department-name='PRINTING'>Printing</li>
                    <li class='department-option' data-department-name='CUTTING'>Cutting</li>
                    <li class='department-option' data-department-name='WINDING'>Winding</li>
                    <li class='department-option' data-department-name='SHIPPING'>Shipping</li>
                    <li class='department-option' data-department-name='BILLING'>Billing</li>
                    </ul>
                </div>
                <div class='department-status-dropdown back-out-hover'>
                    <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose Dept.</span><span class="sub-drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                    </div>
                    <!-- #409 Gavin This the list of department statuss. We would want to populate this with list of department-statuss that correspond with the main department-->
                    <ul class='status-dropdown-list'>
                        <li class='status-option' data-ticket-id='<%= ticket.id %>' data-status-name='N/A'>N/A</li> <!-- This row is used as a clone -->
                    </ul>
                    <!-- End Gavin Target -->
                </div>
                </li>
                <li class='move-to-list-trigger'>Move To List
                <div class='list-dropdown'>
                    <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose List</span><span class="drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                    </div>
                    <!-- #410 Gavin This a list of the department statuss of the current department that the ticket is in. -->
                    <ul>
                    <li>Department Status A</li>
                    <li>Department Status B</li>
                    <li>Department Status C</li>
                    </ul>
                    <!-- End Gavin Target -->
                </div>
                </li>
                <li>Move To Top</li>
            </ul>
            </div>
            <i class="fa-regular fa-chevron-right"></i>
        </li>
        <a href="/tickets/<%= ticket.id %>"><li class='view-ticket back-out-hover'><i class="fa-regular fa-eye"></i>View Ticket</li></a>
        <div class='line'></div>
        <li class="show-products back-out-hover"><i class="fa-regular fa-list-tree"></i>Show Products</li>
        <li class="hide-products back-out-hover"><i class="fa-regular fa-arrows-to-line"></i>Hide Products</li>
        <li class="duration-dropdown-trigger back-out-hover">
            <i class="fa-regular fa-clock-two"></i>Duration
            <div class='duration-dropdown-options'>
            <ul>
                <li class='date-creation'>Date Created - <span class='text-blue date-created-target'><%= helperMethods.getSimpleDate(ticket.createdAt) %></span></li>
                <li class='overall-duration'>Overall - <span class='text-blue overall-duration-target'><%= helperMethods.prettifyDuration(helperMethods.getOverallTicketDuration(workflowStepTimeLedger[ticket.id])) %></span></li>
                <li class='production-duration'>Production - <span class='text-blue production-duration-target'><%= helperMethods.prettifyDuration(helperMethods.getHowLongTicketHasBeenInProduction(workflowStepTimeLedger[ticket.id])) %></span></li>
                <li class='department-duration'>Department - <span class='text-blue department-duration-target'><%= helperMethods.prettifyDuration(helperMethods.getHowLongTicketHasBeenInDepartment(workflowStepTimeLedger[ticket.id], ticket.destination.department)) %></span></li>
                <li class='list-duration'>Current List - <span class='text-blue list-duration-target'><%= helperMethods.prettifyDuration(helperMethods.getHowLongTicketHasHadADepartmentStatus(workflowStepTimeLedger[ticket.id], ticket.destination.department, ticket.destination.departmentStatus)) %></span></li>
            </ul>
            </div>
            <i class="fa-regular fa-chevron-right"></i>
        </li>
        <li class="duration-dropdown-trigger back-out-hover">
            <i class="fa-regular fa-user-astronaut"></i>Assignees
            <div class='duration-dropdown-options'>
            <ul>
                <li class='assignee-list-item order-prep'>
                <p>Order Prep:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Storm Vaske</span>SV</span>
                </li>
                <li class='assignee-list-item art-prep'>
                <p>Art Prep:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Brian Patterson</span>BP</span>
                </li>
                <li class='assignee-list-item pre-printing'>
                <p>Pre Printing:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Josie Steffey</span>JS</span>
                <span class='assignee tooltip'><span class="tooltiptext">Ethan Sherwood</span>ES</span>
                </li>
                <li class='assignee-list-item printing'><p>Printing:</p></li>
                <li class='assignee-list-item cutting'><p>Cutting:</p></li>
                <li class='assignee-list-item winding'><p>Winding:</p></li>
                <li class='assignee-list-item Shipping'><p>Shipping:</p></li>
                <li class='assignee-list-item billing'><p>Shipping:</p></li>
            </ul>
            </div>
            <i class="fa-regular fa-chevron-right"></i>
        </li>
        <div class='line'></div>
        <a href="/tickets/update/<%= ticket.id %>"><li class='edit-ticket back-out-hover'><i class="fa-regular fa-pen-to-square"></i>Edit Ticket</li></a>
        <li class='archive-ticket back-out-hover'><i class="fa-regular fa-box-archive"></i>Archive Ticket</li>
    </ul>
  </div>