<h1>Creating Printing Setup</h1>

<form action="/printing-setups/create", method="POST">
    <label for="author">Author</label>
    <select name="author" id="author">
        <% if (typeof users != 'undefined') { %>
            <% users.forEach(user => { %>
                <option value="<%= user.id %>"><%= user.email || 'N/A' %> </option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="machine">Machine</label>
    <select name="machine" id="machine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="framesToRun">Frames to Run</label>
    <input type="text" name="framesToRun" id="framesToRun">
    <br>
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes">
    <br>
    <label for="material">Material (todo)</label>
    <select name="material" id="material">
        <% if (typeof materials != 'undefined') { %>
            <% materials.forEach(material => { %>
                <option value="<%= material.id %>"><%= material.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="video">Video</label>
    <input type="text" name="video" id="video">
    <br>
    <label for="difficulty">Difficulty (todo)</label>
    <select name="difficulty" id="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
        <option value="Very Difficult">Very Difficult</option>
      </select>
    <br>
    <label for="alertTextBox">Alert Text Box</label>
    <input type="text" name="alertTextBox" id="alertTextBox">
    <br>
    <label for="defaultMachine">Default Machine (todo)</label>
    <select name="defaultMachine" id="defaultMachine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
            <% }) %>
        <% } %>
      </select>
    <input type="hidden" name="recipe" id="recipe" value="<%= recipeId %>">
    <br>
    <input type="submit" value="Create Recipe">
</form>