<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry">
    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <h1 class="text-blue card-title">Create New Die Line</h1>
            </div>
            <p>Fill out the form below to create a new die line. Remember, you're <b>awesome :)</b></p>
        </div>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form action="/die-lines", method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">title</label>
                <input type="text" name="title" id="title">

                <label for="name">description</label>
                <input type="text" name="description" id="description">

                <label for="files">Select files:</label>
                <input type="file" id="files" name="file-uploads" multiple>

                <div class="form-group">
                    <label for="die-line-department-selection">Department:</label>
                    <select name="destination[department]" id="die-line-department-selection">
                        <% departments.forEach((department) => { %>
                            <% const isSelected = department === startingDepartment ? 'selected' : ''; %>
                            <option value="<%= department %>" <%= isSelected %>><%= department %></option>
                        <% }) %>
                    </select>

                    <label for="die-line-department-status-selection">departmentStatus:</label>
                    <select name="destination[departmentStatus]" id="die-line-department-status-selection">
                        <% departmentStatusesForStartingDepartment.forEach((departmentStatus, index) => { %>
                            <% const isSelected = index === 0 ? 'selected' : ''; %>
                            <option value="<%= departmentStatus %>" <%= isSelected %>><%= departmentStatus %></option>
                        <% }) %>
                    </select>
                </div>
             </div>
            <button class="create-entry submit-button" type="submit" value="Create Die Line">Create</button>
        </form>
    </div>
</div>