<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-winding-recipe create-recipe-wrapper">
    <div class="card">
        <h1 class="text-blue card-title">Create A New Winding Recipe</h1>
        <p>Create a new winding recipe below.</p>
        <h4>Recipe For:</h4>
        <div class="full-width page-idicator-frame flex-center-space-between-row">
            <div class="printing page-indicator">
                Printing
            </div>
            <div class="winding page-indicator">
                Winding
            </div>
            <div class="winding page-indicator active">
                Winding
            </div>
        </div>
        <form class="create-new-machine-recipe flex-center-center-column full-width" action="/winding-setups/create", method="POST">
            <div class="column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="author">Author</label>
                        <div class="custom-select full-width">
                            <select name="author" id="author">
                                <% if (typeof users != 'undefined') { %>
                                    <% users.forEach(user => { %>
                                        <option value="<%= user.id %>"><%= user.fullName || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="machine">Machine</label>
                        <div class="custom-select full-width">
                            <select name="machine" id="machine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="difficulty">Difficulty</label>
                        <div class="custom-select full-width">
                            <select name="difficulty" id="difficulty">
                                <option value="Easy">Easy</option>
                                <option value="Medium">Medium</option>
                                <option value="Hard">Hard</option>
                                <option value="Very Difficult">Very Difficult</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="defaultMachine">Default Machine</label>
                        <div class="custom-select full-width">
                            <select name="defaultMachine" id="defaultMachine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper back-winding">
                        <span>Back Winding</span>
                        <label class="checkbox-label-wrapper" for="backWinding">
                            <input type="checkbox" id="backWinding" name="backWinding" value="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="half-width form-column-right flex-top-left-column full-width">
                    <div class="field-label-wrapper full-width">
                        <label for="video">Watch out For</label>
                        <select name="watchOutFor" id="watchOutFor" multiple="multiple" class="full-width">
                            <option value="Flags">Flags</option>
                            <option value="UV Missing">UV Missing</option>
                            <option value="Butt Cut">Butt Cut</option>
                            <option value="Missing Labels">Missing Labels</option>
                            <option value="Labels Cut Off">Labels Cut Off</option>
                        </select>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="alertTextBox">Alert Text Box</label>
                        <input type="text" name="alertTextBox" id="alertTextBox">
                    </div>
                    <input type="hidden" name="recipe" id="recipe" value="<%= recipeId %>">
                </div>
            </div>
            <div class="full-width flex-center-left-row">
                <button class="btn btn-primary save-form-button" type="submit" value="Create Recipe">Save Recipe</button>
            </div>
        </form>
    </div>
</div>
