<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry create-purchase-order-entry">

    <h2 class="content-header-title">Creating New Purchase Order</h2>

    <div class="card">
        <h4>Create A New Material Order</h4>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form action="/material-orders/create", method="POST">
            <div class="column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="material">Material:</label>
                        <div class="custom-select full-width">
                            <select name="material" id="material">
                                <option value="">-</option>
                                <% if (typeof materials != 'undefined') { %>
                                    <% materials.forEach(material => { %>
                                        <option value="<%= material.id %>"><%= material.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="purchaseOrderNumber">P.O. Number:</label>
                        <input type="text" name="purchaseOrderNumber" id="purchaseOrderNumber">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="orderDate">Order Date:</label>
                        <input type="date" name="orderDate" id="orderDate">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="arrivalDate">Arrival Date:</label>
                        <input type="date" name="arrivalDate" id="arrivalDate">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="feetPerRoll">Feet Per Role:</label>
                        <input type="text" name="feetPerRoll" id="feetPerRoll">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="totalRolls">Total Rolls:</label>
                        <input type="text" name="totalRolls" id="totalRolls">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="totalCost">Total Cost:</label>
                        <input type="text" name="totalCost" id="totalCost">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="vendor">Vendor:</label>
                        <div class="custom-select full-width">
                            <select name="vendor" id="vendor">
                                <option value="">-</option>
                                <% if (typeof vendors != 'undefined') { %>
                                    <% vendors.forEach(vendor => { %>
                                        <option value="<%= vendor.id %>"><%= vendor.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <span>Arrived:</span>
                        <label class="checkbox-label-wrapper" for="hasArrived">
                            <input type="checkbox" id="hasArrived" name="hasArrived" value="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="half-width column-right">
                    
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <input type="text" name="notes" id="notes">
                    </div>
                    <input type="hidden" name="author" id="author" value="<%= user.id %>">
                </div>
            </div>
            <div class="full-width flex-center-left-row">
                <button class="create-entry submit-button" type="submit" value="Create Material Order">Create</button>
            </div>
        </form>

    </div>

</div>