<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-printing-recipe create-recipe-wrapper">
    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <h1>Create Recipe For <span class="red">Design #</span></h1>
            </div>
            <p>Make changes to the recipe below and hit 'update' for them to take affect. Remember, you're <b>awesome :)</b></p>
        </div>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form class="create-new-machine-recipe flex-center-center-column full-width" action="/printing-setups/create", method="POST">
            <div class="column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="author">Author</label>
                        <div class="custom-select full-width">
                            <select name="author" id="author">
                                <% if (typeof users != 'undefined') { %>
                                    <% users.forEach(user => { %>
                                        <option value="<%= user.id %>"><%= user.fullName || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="difficulty">Difficulty</label>
                        <div class="custom-select full-width">
                            <select name="difficulty" id="difficulty">
                                <option value="Easy">Easy</option>
                                <option value="Medium">Medium</option>
                                <option value="Hard">Hard</option>
                                <option value="Very Difficult">Very Difficult</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="machine">Machine</label>
                        <div class="custom-select full-width">
                            <select name="machine" id="machine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="defaultMachine">Default Machine</label>
                        <div class="custom-select full-width">
                            <select name="defaultMachine" id="defaultMachine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <option value="<%= machine.id %>"><%= machine.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="framesToRun">Frames to Run</label>
                        <input type="text" name="framesToRun" id="framesToRun">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="material">Material (todo)</label>
                        <div class="custom-select full-width">
                            <select name="material" id="material">
                                <% if (typeof materials != 'undefined') { %>
                                    <% materials.forEach(material => { %>
                                        <option value="<%= material.id %>"><%= material.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="half-width form-column-right flex-top-left-column full-width">
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <input type="text" name="notes" id="notes">
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="video">Video</label>
                        <input type="text" name="video" id="video">
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="alertTextBox">Alert Text Box</label>
                        <input type="text" name="alertTextBox" id="alertTextBox">
                    </div>
                    <input type="hidden" name="recipe" id="recipe" value="<%= recipeId %>">
                </div>
            </div>
            <div class="full-width flex-center-left-row">
                <button class="btn btn-primary save-form-button" type="submit" value="Create Recipe">Save Recipe</button>
            </div>
        </form>
    </div>
</div>