<%- include('partials/navbarMain.ejs') %>


<div class="page-wrapper profile">

    <div class="card user-profile-picture-box">
        <div class="picture-box" <% if (user.profilePicture) { %>style="background:url('data:image/<%=user.profilePicture.contentType%>;base64,<%=user.profilePicture.data.toString('base64')%>') center center no-repeat; background-size: cover;"<% } %>>
            
            <div class="camera-upload"><svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg></div>

        </div>
        <div class="name-role-box">
            <h5>First Last Name</h5>
            <p>Company Role</p>
        </div>
    </div>
    <div class="card greeting-date">
        <h3>Good Morning!</h3>
        <h2 id="current-date">Monday, January 25.</h2>
    </div>
    <div class="card user-profile">
        <p>Welcome to Your Profile!</p>

        <p>User Email: <%= user.email %></p>
        <p>Permission Level: <%= user.userType %></p>
        <p>Password: Heavily encrypted and impossible to read :)</p>

    </div>


    <div class="card reset-password">
        <h4>Change Password</h4>
        <form id="change-password-form" action="/users/change-password" method="POST">

            <div class="form-group password">
                <label for="newPassword">New Password</label>
                <div class="input-frame">
                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                    <div class="show-password-frame">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-eye show-password-1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </div>
                </div>
            </div>
            <div class="form-group password">
                <label for="repeatPassword">Re-type Password</label>
                <div class="input-frame">
                    <input type="password" class="form-control repeat-password" id="repeatPassword" name="repeatPassword">
                    <div class="show-password-frame">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-eye show-password-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit-button">Submit</button>
        </form>
    </div>

    <div class="card reset-password">
        <h4>Update Info</h4>
        <form id="user-info-form" action="" method="POST">

            <div class="form-group">
                <label for="fullUserName">User Name</label>
                <div class="input-frame">
                    <input type="text" class="form-control" id="fullUserName" name="fullUserName">
                </div>
            </div>
            <div class="form-group">
                <label for="jobRole">Job Role</label>
                <div class="input-frame">
                    <input type="text" class="form-control" id="jobRole" name="jobRole">
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit-button">Submit</button>
        </form>
    </div>

</div>

<h1>Profile Picture Upload</h1>
<div>
    <form action="/users/profile-picture" method="POST" enctype="multipart/form-data">
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image" name="image" value="" accept="image/png, image/jpg, image/jpeg" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>


