<%- include('partials/navbarMain.ejs') %>


<div class="page-wrapper">

    <div class="card user-profile">
        <p>Welcome to Your Profile!</p>

        <p>User Email: <%= user.email %></p>
        <p>Permission Level: <%= user.userType %></p>
        <p>Password: Heavily encrypted and impossible to read :)</p>

    </div>


    <a class="btn btn-primary" href="/users/change-password" role="button">Change Password</a>
    <a class="btn btn-primary" href="/users/logout" role="button">Logout</a>
    <a class="btn btn-secondary" href="/admin" role="button">View Admin Panel</a> -->

</div>

<br>
<br>

<h1>Profile Picture Upload</h1>
<div>
    <form action="/users/profile-picture" method="POST" enctype="multipart/form-data">
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image" name="image" value="" accept="image/png, image/jpg, image/jpeg" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr>
    <% if (user.profilePicture) { %>
        
        <h1>Profile Picture </h1>
        <div>
            <div>
                <img src="data:image/<%=user.profilePicture.contentType%>;base64,
                     <%=user.profilePicture.data.toString('base64')%>">
            </div>
        </div>
    <% } %>

