<%- include('partials/navbarMain.ejs') %>
<div class="page-wrapper update-cutting-recipe update-recipe">
    <div class="card">
        <div class="header">
            <h1 class="text-blue card-title">Edit Cutting Recipe</h1>
            <p>Edit cutting recipe below.</p>
        </div>

        <form action="/cutting-setups/update/<%= cuttingSetup.id %>", method="POST">
            <div class="form-column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="author">Author</label>
                        <div class="custom-select full-width">
                            <select name="author" id="author">
                                <% if (typeof users != 'undefined') { %>
                                    <% users.forEach(user => { %>
                                        <% const isSelected = user.id == cuttingSetup.author._id ? 'selected' : ''; %>
                                        <option value="<%= user.id %>" <%= isSelected %>><%= user.email || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="difficulty">Difficulty</label>
                        <div class="custom-select full-width">
                            <select name="difficulty" id="difficulty">
                                <% const difficultyEnum = ['Easy', 'Medium', 'Hard', 'Very Difficult']; %>
                                <% difficultyEnum.forEach(difficulty => { %>
                                    <% let isSelected = ''; %>
                                    <% if (difficulty.toUpperCase() === cuttingSetup.difficulty.toUpperCase()) { %>
                                        <% isSelected = 'selected'; %>
                                    <% } %>
                                    <option value="<%= difficulty %>" <%= isSelected %>><%= difficulty %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="defaultMachine">Default Machine</label>
                        <div class="custom-select full-width">
                            <select name="defaultMachine" id="defaultMachine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == cuttingSetup.defaultMachine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="machine">Machine</label>
                        <div class="custom-select full-width">
                            <select name="machine" id="machine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == cuttingSetup.machine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="setupFeet">Setup Feet</label>
                        <div class="custom-select full-width">
                            <input type="text" name="setupFeet" id="setupFeet" value="<%= cuttingSetup.setupFeet %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="finish">Finish</label>
                        <div class="custom-select full-width">
                            <select name="finish" id="finish">
                                <% if (typeof finishes != 'undefined') { %>
                                    <% finishes.forEach(finish => { %>
                                        <% const isSelected = finish.id == cuttingSetup.finish._id ? 'selected' : ''; %>
                                        <option value="<%= finish.id %>" <%= isSelected %>><%= finish.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="jobSpeed">Job Speed</label>
                        <div class="custom-select full-width">
                            <input type="text" name="jobSpeed" id="jobSpeed" value="<%= cuttingSetup.jobSpeed %>">
                        </div>
                    </div>
                    
                </div>
                <div class="half-width form-column-right flex-top-right-row flex-wrap">
                    <div class="field-label-wrapper full-width">
                        <label for="video">Video</label>
                        <div class="custom-select full-width">
                            <input type="text" name="video" id="video" value="<%= cuttingSetup.video %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="alertTextBox">Alert Text Box</label>
                        <div class="custom-select full-width">
                            <input type="text" name="alertTextBox" id="alertTextBox" value="<%= cuttingSetup.alertTextBox %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <div class="custom-select full-width">
                            <input type="text" name="notes" id="notes" value="<%= cuttingSetup.notes %>">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="recipe" id="recipe" value="<%= cuttingSetup.recipe %>">
            <button type="submit" class="btn btn-primary save-form-button" value="Update Cutting Setup">Update Recipe</button>
        </form>
    </div>
</div>