<h1>Update Printing Setup</h1>

<form action="/printing-setups/update/<%= printingSetup.id %>", method="POST">
    <label for="author">Author</label>
    <select name="author" id="author">
        <% if (typeof users != 'undefined') { %>
            <% users.forEach(user => { %>
                <% const isSelected = user.id == printingSetup.author._id ? 'selected' : ''; %>
                <option value="<%= user.id %>" <%= isSelected %>><%= user.email || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="machine">Machine</label>
    <select name="machine" id="machine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <% const isSelected = machine.id == printingSetup.machine._id ? 'selected' : ''; %>
                <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="framesToRun">Frames to Run</label>
    <input type="text" name="framesToRun" id="framesToRun" value="<%= printingSetup.framesToRun %>">
    <br>
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" value="<%= printingSetup.notes %>">
    <br>
    <label for="material">Material (todo)</label>
    <select name="material" id="material">
        <% if (typeof materials != 'undefined') { %>
            <% materials.forEach(material => { %>
                <% const isSelected = material.id == printingSetup.material._id ? 'selected' : ''; %>
                <option value="<%= material.id %>" <%= isSelected %>><%= material.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="video">Video</label>
    <input type="text" name="video" id="video" value="<%= printingSetup.video %>">
    <br>
    <label for="difficulty">Difficulty</label>
    <select name="difficulty" id="difficulty">
        <% const difficultyEnum = ['Easy', 'Medium', 'Hard', 'Very Difficult']; %>
        <% difficultyEnum.forEach(difficulty => { %>
            <% let isSelected = ''; %>
            <% if (difficulty.toUpperCase() === printingSetup.difficulty.toUpperCase()) { %>
                <% isSelected = 'selected'; %>
            <% } %>
            <option value="<%= difficulty %>" <%= isSelected %>><%= difficulty %></option>
        <% }) %>
      </select>
    <br>
    <label for="alertTextBox">Alert Text Box</label>
    <input type="text" name="alertTextBox" id="alertTextBox" value="<%= printingSetup.alertTextBox %>">
    <br>
    <label for="defaultMachine">Default Machine (todo)</label>
    <select name="defaultMachine" id="defaultMachine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <% const isSelected = machine.id == printingSetup.defaultMachine._id ? 'selected' : ''; %>
                <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <input type="hidden" name="recipe" id="recipe" value="<%= printingSetup.recipe %>">
    <br>
    <input type="submit" value="Update Printing Setup">
</form>