<form class="" action="", method="POST">
    <div class="form-column-wrapper flex-top-center-row full-width">
        <div class="half-width column-left">
            <div class="form-group">
                <label for="ticketNumber">Ticket Number</label>
                <input type="text" name="ticketNumber" id="ticketNumber" value="<%= ticket.ticketNumber || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="numberOfProducts">Number of Products</label>
                <input type="text" name="numberOfProducts" id="numberOfProducts" value="<%= (ticket.products && ticket.products.length) || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="customerName">Customer Name</label>
                <input type="text" name="customerName" id="customerName" value="<%= ticket.poNumber || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="material">Material</label>
                <select name="material" id="material">
                    <option value="-">-</option>
                    <% materialIds.forEach((materialId) => { %>
                        <option value="<%= materialId %>"><%= materialId %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group">
                <label for="printingType">Printing Type</label>
                <select name="printingType" id="printingType">
                    <option value="CMYK"><%= 'CMYK' %></option>
                    <option value="CMYK + W"><%= 'CMYK + W' %></option>
                    <option value="BLANKS"><%= 'Blanks' %></option>
                    <option value="CMYK OV + W"><%= 'CMYK OV + W' %></option>
                    <option value="BLACK ONLY"><%= 'Black Only' %></option>
                    <option value="EPM"><%= 'EPM' %></option>
                    <option value="BLACK & WHITE"><%= 'Black & White' %></option>
                    <option value="CMYK OV"><%= 'CMYK OV' %></option>
                </select>
            </div>

            <div class="form-group">
                <label for="department">Department:</label>
                <select name="destination[department]" id="departments-dropdown">
                    <option value=""><%= '-' %></option>
                    <% if (typeof departmentNames != 'undefined') { %>
                        <% departmentNames.forEach(departmentName => { %>
                            <option value="<%= departmentName %>"><%= departmentName || 'N/A' %></option>
                        <% }) %>
                    <% } %>
                </select>

                <label for="subDepartment">SubDepartment:</label>
                <select name="destination[subDepartment]" id="subdepartments-dropdown">
                    <option value=""><%= 'Please Select a Department First' %></option>
                </select>
            </div>
        </div>
    </div>
    <a href="/tickets/update/<%= ticket.id %>" value="Back">Back</a>
    <button type="submit" class="btn btn-primary save-form-button" value="Complete">Complete</button>
</form>

    <h1>Products: </h1>

    <% ticket.products && ticket.products.forEach((product, index) => { %>
        #: <%= index + 1 %>
        <br>
        Product Name: <%= product.productNumber %>
        <br>
        Proof:
        <input class="proof-upload" type="file" id="<%= product.productNumber %>" name="proof" value="" accept="application/pdf"/>
        <br>
        Alert: TODO
        <br>
        <br>
    <% }) %>