<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry update-purchase-order-entry">

    <h2 class="content-header-title">Updating Material Order</h2>

    <div class="card">
        <h4>Update a Material Order</h4>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form action="/material-orders/update/<%= materialOrder.id %> ", method="POST">
            <div class="column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="material">Material:</label>
                        <div class="custom-select full-width">
                            <select name="material" id="material">
                                <option value="">-</option>
                                <% if (typeof materials != 'undefined') { %>
                                    <% materials.forEach(material => { %>
                                        <% let isSelected = false %>
                                        <%  if (materialOrder.material) { %>
                                            <% isSelected = material.id == materialOrder.material._id ? 'selected' : ''; %>
                                        <% } %>
                                        <option value="<%= material.id %>" <%= isSelected %>><%= material.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="purchaseOrderNumber">P.O. Number:</label>
                        <input type="text" name="purchaseOrderNumber" id="purchaseOrderNumber" value="<%= materialOrder.purchaseOrderNumber %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="orderDate">Order Date:</label>
                        <input type="date" name="orderDate" id="orderDate" value="<%= materialOrder.orderDate && new Date(materialOrder.orderDate).toISOString().substring(0, 10) %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="arrivalDate">Arrival Date:</label>
                        <input type="date" name="arrivalDate" id="arrivalDate" value="<%= materialOrder.arrivalDate && new Date(materialOrder.arrivalDate).toISOString().substring(0, 10) %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="feetPerRoll">Feet Per Role:</label>
                        <input type="text" name="feetPerRoll" id="feetPerRoll" value="<%= materialOrder.feetPerRoll %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="totalRolls">Total Rolls:</label>
                        <input type="text" name="totalRolls" id="totalRolls" value="<%= materialOrder.totalRolls %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="totalCost">Total Cost:</label>
                        <input type="text" name="totalCost" id="totalCost" value="<%= materialOrder.totalCost %>">
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="vendor">Vendor:</label>
                        <div class="custom-select full-width">
                            <select name="vendor" id="vendor">
                                <option value="">-</option>
                                <% if (typeof vendors != 'undefined') { %>
                                    <% vendors.forEach(vendor => { %>
                                        <% const isSelected = vendor.id == materialOrder.vendor._id ? 'selected' : ''; %>
                                        <option value="<%= vendor.id %>" <%= isSelected %>><%= vendor.name || 'N/A' %> </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <span>Arrived:</span>
                        <label class="checkbox-label-wrapper" for="hasArrived">
                            <input type="checkbox" id="hasArrived" name="hasArrived" <% if (materialOrder.hasArrived) { %>checked="checked"<% } else { %>value="false"<% } %>>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="half-width form-column-right flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <input type="text" name="notes" id="notes" value="<%= materialOrder.notes %>">
                    </div>
                    <input type="hidden" name="author" id="author" value="<%= user.id %>">
                </div>
            </div>
            <div class="full-width flex-center-left-row">
                <button class="create-entry submit-button" type="submit" value="Update Material Order">Update</button>
            </div>
        </form>

    </div>

</div>