<form class="" action="", method="POST">
    <div class="form-column-wrapper flex-top-center-row full-width">
        <div class="half-width column-left">
            <div class="form-group">
                <label for="ticketNumber">Ticket Number</label>
                <input type="text" name="ticketNumber" id="ticketNumber" value="<%= ticket.ticketNumber || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="numberOfProducts">Number of Products</label>
                <input type="text" name="numberOfProducts" id="numberOfProducts" value="<%= (ticket.products && ticket.products.length) || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="customerName">Customer Name</label>
                <input type="text" name="customerName" id="customerName" value="<%= ticket.poNumber || 'N/A' %>" readonly>
            </div>

            <div class="form-group">
                <label for="material">Material</label>
                <select name="material" id="material">
                    <option value="TODO"><%= 'TODO' %></option>
                </select>
            </div>

            <div class="form-group">
                <label for="printingType">Printing Type</label>
                <select name="printingType" id="printingType">
                    <option value="CMYK"><%= 'CMYK' %></option>
                    <option value="CMYK + W"><%= 'CMYK + W' %></option>
                    <option value="BLANKS"><%= 'Blanks' %></option>
                    <option value="CMYK OV + W"><%= 'CMYK OV + W' %></option>
                    <option value="BLACK ONLY"><%= 'Black Only' %></option>
                    <option value="EPM"><%= 'EPM' %></option>
                    <option value="BLACK & WHITE"><%= 'Black & White' %></option>
                    <option value="CMYK OV"><%= 'CMYK OV' %></option>
                </select>
            </div>

            <div class="form-group">
                <label for="ticketDesination">Ticket Destination</label>
                <select name="ticketDesination" id="ticketDesination">
                    <option value="TODO"><%= 'TODO' %></option>
                </select>
            </div>
        </div>
    </div>
    <a href="/tickets/upload" value="Back">Back</button>
    <button type="submit" class="btn btn-primary save-form-button" value="Complete">Complete</button>
</form>

<h1>Products: </h1>

<% ticket.products && ticket.products.forEach((product, index) => { %>
    #: <%= index + 1 %>
    <br>
    Product Name: <%= product.productNumber %>
    <br>
    Proof: TODO
    <br>
    Alert: TODO
    <br>
    <br>
<% }) %>

