<%- include('partials/navbarMain.ejs') %>
<div class="page-wrapper update-cutting-recipe update-recipe">
    <div class="card">
        <div class="header">
            <h1 class="text-blue card-title">Edit Winding Recipe</h1>
            <p>Edit winding recipe below.</p>
        </div>

        <form action="/winding-setups/update/<%= windingSetup.id %>", method="POST">
            <div class="form-column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="author">Author</label>
                        <div class="custom-select full-width">
                            <select name="author" id="author">
                                <% if (typeof users != 'undefined') { %>
                                    <% users.forEach(user => { %>
                                        <% const isSelected = user.id == windingSetup.author._id ? 'selected' : ''; %>
                                        <option value="<%= user.id %>" <%= isSelected %>><%= user.email || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="machine">Machine</label>
                        <div class="custom-select full-width">
                            <select name="machine" id="machine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == windingSetup.machine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="difficulty">Difficulty</label>
                        <div class="custom-select full-width">
                            <select name="difficulty" id="difficulty">
                                <% const difficultyEnum = ['Easy', 'Medium', 'Hard', 'Very Difficult']; %>
                                <% difficultyEnum.forEach(difficulty => { %>
                                    <% let isSelected = ''; %>
                                    <% if (difficulty.toUpperCase() === windingSetup.difficulty.toUpperCase()) { %>
                                        <% isSelected = 'selected'; %>
                                    <% } %>
                                    <option value="<%= difficulty %>" <%= isSelected %>><%= difficulty %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="defaultMachine">Default Machine</label>
                        <div class="custom-select full-width">
                            <select name="defaultMachine" id="defaultMachine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == windingSetup.defaultMachine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper back-winding">
                        <span>Back Winding</span>
                        <label class="checkbox-label-wrapper" for="backWinding">
                            <input type="checkbox" id="backWinding" name="backWinding" <% if (windingSetup.backWinding) { %>checked="checked"<% } else { %>value="false"<% } %>>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="half-width form-column-right flex-top-right-row flex-wrap">
                    <div class="field-label-wrapper full-width">
                        <label for="video">Watch out For</label>
                        <div class="custom-select full-width">
                            <select name="watchOutFor" id="watchOutFor" multiple>
                                <% const watchOutForEnum = ['FLAGS', 'UV MISSING', 'BUTT CUT', 'MISSING LABELS', 'LABELS CUT OFF']; %>
                                <% watchOutForEnum.forEach((watchOutFor) => { %>
                                    <% let isSelected = ''; %>
                                    <% if (windingSetup.watchOutFor.includes(watchOutFor.toUpperCase())) { %>
                                        <% isSelected = 'selected'; %>
                                    <% } %>
                                    <option value="<%= watchOutFor %>" <%= isSelected %>><%= watchOutFor %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="video">Video</label>
                        <div class="custom-select full-width">
                            <input type="text" name="video" id="video" value="<%= windingSetup.video %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="alertTextBox">Alert Text Box</label>
                        <div class="custom-select full-width">
                            <input type="text" name="alertTextBox" id="alertTextBox" value="<%= windingSetup.alertTextBox %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <div class="custom-select full-width">
                            <input type="text" name="notes" id="notes" value="<%= windingSetup.notes %>">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="recipe" id="recipe" value="<%= windingSetup.recipe %>">
            <br>
            <button type="submit" class="btn btn-primary save-form-button" value="Update Winding Setup">Update Recipe</button>
        </form>
    </div>
</div>