<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper update-printing-recipe">
    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                <h1>Edit  Printing Recipe <span class="red">Design #</span></h1>
            </div>
            <p>Make changes to the recipe below and hit 'update' for them to take affect. Remember, you're <b>awesome :)</b></p>
        </div>
        <form action="/printing-setups/update/<%= printingSetup.id %>", method="POST">
            <div class="form-column-wrapper flex-top-center-row full-width">
                <div class="half-width form-column-left flex-top-left-row flex-wrap">
                    <div class="field-label-wrapper half-width">
                        <label for="author">Author</label>
                        <div class="custom-select full-width">
                            <select name="author" id="author">
                                <% if (typeof users != 'undefined') { %>
                                    <% users.forEach(user => { %>
                                        <% const isSelected = user.id == printingSetup.author._id ? 'selected' : ''; %>
                                        <option value="<%= user.id %>" <%= isSelected %>><%= user.email || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="difficulty">Difficulty</label>
                        <div class="custom-select full-width">
                            <select name="difficulty" id="difficulty">
                                <% const difficultyEnum = ['Easy', 'Medium', 'Hard', 'Very Difficult']; %>
                                <% difficultyEnum.forEach(difficulty => { %>
                                    <% let isSelected = ''; %>
                                    <% if (difficulty.toUpperCase() === printingSetup.difficulty.toUpperCase()) { %>
                                        <% isSelected = 'selected'; %>
                                    <% } %>
                                    <option value="<%= difficulty %>" <%= isSelected %>><%= difficulty %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="defaultMachine">Default Machine (todo)</label>
                        <div class="custom-select full-width">
                            <select name="defaultMachine" id="defaultMachine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == printingSetup.defaultMachine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="machine">Machine</label>
                        <div class="custom-select full-width">
                            <select name="machine" id="machine">
                                <% if (typeof machines != 'undefined') { %>
                                    <% machines.forEach(machine => { %>
                                        <% const isSelected = machine.id == printingSetup.machine._id ? 'selected' : ''; %>
                                        <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="framesToRun">Frames to Run</label>
                        <div class="custom-select full-width">
                            <input type="text" name="framesToRun" id="framesToRun" value="<%= printingSetup.framesToRun %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper half-width">
                        <label for="material">Material (todo)</label>
                        <div class="custom-select full-width">
                            <select name="material" id="material">
                                <% if (typeof materials != 'undefined') { %>
                                    <% materials.forEach(material => { %>
                                        <% const isSelected = material.id == printingSetup.material._id ? 'selected' : ''; %>
                                        <option value="<%= material.id %>" <%= isSelected %>><%= material.name || 'N/A' %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="half-width column-right">
                    <div class="field-label-wrapper full-width">
                        <label for="video">Video</label>
                        <div class="custom-select full-width">
                            <input type="text" name="video" id="video" value="<%= printingSetup.video %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="alertTextBox">Alert Text Box</label>
                        <div class="custom-select full-width">
                            <input type="text" name="alertTextBox" id="alertTextBox" value="<%= printingSetup.alertTextBox %>">
                        </div>
                    </div>
                    <div class="field-label-wrapper full-width">
                        <label for="notes">Notes</label>
                        <div class="custom-select full-width">
                            <input type="text" name="notes" id="notes" value="<%= printingSetup.notes %>">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="recipe" id="recipe" value="<%= printingSetup.recipe %>">
            <button type="submit" class="btn btn-primary save-form-button" value="Update Printing Setup">Update Recipe</button>
        </form>
    </div>
</div>