
<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper update-material">
    <div class="card">
        <div class="header">
            <div class='header-description'>
                <h1 class='text-blue'>Update Material</h1>
                <p>Make changes to the material below. <b>Hey :)</b></p>
            </div>
        </div>

        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>

        <form action="/materials/update/<%= material.id %>", method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= material.name %>">
            <label for="name">Material ID</label>
            <input type="text" name="materialId" id="materialId" value="<%= material.materialId %>">
            <label for="vendor-selection">Vendor:</label>
            <select name="vendor" id="vendor-selection">
                <option value='' <%= material.vendor ? '' : 'selected' %>>N/A</option>
                <% vendors && vendors.forEach((vendor, index) => { %>
                    <% const isSelected = (material.vendor && material.vendor.toString() === vendor._id.toString()) ? 'selected' : ''; %>
                    <option value="<%= vendor.id %>" <%= isSelected %>><%= vendor.name %></option>
                <% }) %>
            </select>
            <label for="material-category-selection">Material Category:</label>
            <select name="materialCategory" id="material-category-selection">
                <option value='' <%= material.materialCategory ? '' : 'selected' %>>N/A</option>
                <% materialCategories && materialCategories.forEach((materialCategory, index) => { %>
                    <% const isSelected = (material.materialCategory && material.materialCategory.toString() === materialCategory._id.toString()) ? 'selected' : ''; %>
                    <option value="<%= materialCategory.id %>" <%= isSelected %>><%= materialCategory.name %></option>
                <% }) %>
            </select>
            <button type="submit" class="submit-button">Update Material</button>
        </form>
    </div>
</div>