<h1>Update Cutting Setup</h1>

<form action="/cutting-setups/update/<%= cuttingSetup.id %>", method="POST">
    <label for="author">Author</label>
    <select name="author" id="author">
        <% if (typeof users != 'undefined') { %>
            <% users.forEach(user => { %>
                <% const isSelected = user.id == cuttingSetup.author._id ? 'selected' : ''; %>
                <option value="<%= user.id %>" <%= isSelected %>><%= user.email || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="machine">Machine</label>
    <select name="machine" id="machine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <% const isSelected = machine.id == cuttingSetup.machine._id ? 'selected' : ''; %>
                <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" value="<%= cuttingSetup.notes %>">
    <br>
    <label for="finish">Finish</label>
    <select name="finish" id="finish">
        <% if (typeof finishes != 'undefined') { %>
            <% finishes.forEach(finish => { %>
                <% const isSelected = finish.id == cuttingSetup.finish._id ? 'selected' : ''; %>
                <option value="<%= finish.id %>" <%= isSelected %>><%= finish.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <br>
    <label for="setupFeet">Setup Feet</label>
    <input type="text" name="setupFeet" id="setupFeet" value="<%= cuttingSetup.setupFeet %>">
    <br>
    <label for="jobSpeed">Job Speed</label>
    <input type="text" name="jobSpeed" id="jobSpeed" value="<%= cuttingSetup.jobSpeed %>">
    <br>
    <label for="video">Video</label>
    <input type="text" name="video" id="video" value="<%= cuttingSetup.video %>">
    <br>
    <label for="difficulty">Difficulty</label>
    <select name="difficulty" id="difficulty">
        <% const difficultyEnum = ['Easy', 'Medium', 'Hard', 'Very Difficult']; %>
        <% difficultyEnum.forEach(difficulty => { %>
            <% let isSelected = ''; %>
            <% if (difficulty.toUpperCase() === cuttingSetup.difficulty.toUpperCase()) { %>
                <% isSelected = 'selected'; %>
            <% } %>
            <option value="<%= difficulty %>" <%= isSelected %>><%= difficulty %></option>
        <% }) %>
    </select>
    <br>
    <label for="alertTextBox">Alert Text Box</label>
    <input type="text" name="alertTextBox" id="alertTextBox" value="<%= cuttingSetup.alertTextBox %>">
    <br>
    <label for="defaultMachine">Default Machine</label>
    <select name="defaultMachine" id="defaultMachine">
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach(machine => { %>
                <% const isSelected = machine.id == cuttingSetup.defaultMachine._id ? 'selected' : ''; %>
                <option value="<%= machine.id %>" <%= isSelected %>><%= machine.name || 'N/A' %></option>
            <% }) %>
        <% } %>
      </select>
    <input type="hidden" name="recipe" id="recipe" value="<%= cuttingSetup.recipe %>">
    <br>
    <input type="submit" value="Update Cutting Setup">
</form>