<script>
  var bodyclass=document.createAttribute("class");
  bodyclass.value="view-tickets-body";
  document.getElementsByTagName("body")[0].setAttributeNode(bodyclass);
</script>

<div class="page-wrapper view-tickets">
  <%- include('partials/navbarMain.ejs') %>
  <%- include('partials/sidebarMain.ejs') %>
  <div class='tickets-card'>
    <div class='workflow-order-header card'>
      
      <div class='header-description'>
        <h1 class=''>Order Workflow <span class='text-blue' id="department-select"> - All Departments</span></h1>
        <!-- <p>All jobs tickets can be found in the departments below.</p> -->
      </div>
      <div class="alert-box full-width">
          <%- include ("flashMessages") %>
      </div>
      
      <%- include('partials/workflow-navigation.ejs') %>
      <%- include('partials/workflow-sorting-filtering.ejs') %>

    </div>

    <div class='scroll-curtain'></div>
    
    <!--- Order Prep Department Start -->
      <% const orderPrepDepartmentName = 'ORDER-PREP' %>
      <% const orderPrepTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[orderPrepDepartmentName] %>
      <% const numberOfOrderPrepTickets = Object.values(orderPrepTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= orderPrepDepartmentName %>">
        <h4 class='department-name'>Order Prep - <span class='text-blue' id='departmentTotalTickets'><%= numberOfOrderPrepTickets %></span></h4>
        
        <!-- Order Prep | Needs Attention -->
        <% const orderPrepNeedsAttentionTickets = orderPrepTicketsGroupedByDepartmentStatus['NEEDS ATTENTION'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: orderPrepDepartmentName,
          departmentStatus: 'Needs Attention',
          tableIdentifier: 'order-prep-needs-attention',
          tickets: orderPrepNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | On Hold -->
        <% const orderPrepOnHoldTickets = orderPrepTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: orderPrepDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'order-prep-on-hold',
          tickets: orderPrepOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[orderPrepDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Order Prep | Proofing Complete -->
        <% const orderPrepProofingComplete = orderPrepTicketsGroupedByDepartmentStatus['PROOFING COMPLETE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: orderPrepDepartmentName,
          departmentStatus: 'Proofing Complete',
          tableIdentifier: 'order-prep-proofing-complete',
          tickets: orderPrepProofingComplete,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | Waiting on Customer -->
        <% const orderPrepWaitingOnCustomerTickets = orderPrepTicketsGroupedByDepartmentStatus['WAITING ON CUSTOMER'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: orderPrepDepartmentName,
          departmentStatus: 'Waiting on Customer',
          tableIdentifier: 'order-prep-waiting-on-customer',
          tickets: orderPrepWaitingOnCustomerTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'follow-up-date',
            7: 'sent-date',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | Waiting on Approval -->
        <% const orderPrepWaitingOnApproval = orderPrepTicketsGroupedByDepartmentStatus['WAITING ON APPROVAL'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: orderPrepDepartmentName,
          departmentStatus: 'Waiting on Approval',
          tableIdentifier: 'order-prep-waiting-on-approval',
          tickets: orderPrepWaitingOnApproval,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'follow-up-date',
            7: 'sent-date',
            8: 'due-date'
          }
        }) %>
      </div>
      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Order Prep</h4><div class="department-divide-line"></div>
      </div>

      <!--- Art Prep Department Start -->
      <% const artPrepDepartmentName = 'ART-PREP' %> 
      <% const artPrepTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[artPrepDepartmentName] %>
      <% const numberOfArtPrepTickets = Object.values(artPrepTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= artPrepDepartmentName %>">
        <h4 class='department-name'>Art Prep - <span class='text-blue' id='departmentTotalTickets'><%= numberOfArtPrepTickets %></span></h4>
        
        <!-- Art Prep | Needs Attention -->
        <% const artPrepNeedsAttentionTickets = artPrepTicketsGroupedByDepartmentStatus['NEEDS ATTENTION'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: artPrepDepartmentName,
          departmentStatus: 'Needs Attention',
          tableIdentifier: 'art-prep-needs-attention',
          tickets: artPrepNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | On Hold -->
        <% const artPrepOnHold = artPrepTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: artPrepDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'art-prep-on-hold',
          allHoldReasonsForThisDepartment: departmentToHoldReasons[artPrepDepartmentName],
          tickets: artPrepOnHold,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | In Progress -->
        <% const artPrepInProgressTickets = artPrepTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: artPrepDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'art-prep-in-progress',
          tickets: artPrepInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | Needs Proof -->
        <% const artPrepNeedsProofTickets = artPrepTicketsGroupedByDepartmentStatus['NEEDS PROOF'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: artPrepDepartmentName,
          departmentStatus: 'Needs Proof',
          tableIdentifier: 'art-prep-needs-proof',
          tickets: artPrepNeedsProofTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'proofs',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Art Prep</h4><div class="department-divide-line"></div>
      </div>

      <!--- Pre Printing Department Start -->
      <% const prePrintingDepartmentName = 'PRE-PRINTING' %>
      <% const prePrintingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[prePrintingDepartmentName] %>
      <% const numberOfPrePrintingTickets = Object.values(prePrintingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= prePrintingDepartmentName %>">
        <h4 class='department-name'>Pre-Printing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPrePrintingTickets %></span></h4>
        
        <!-- Pre Printing | Needs Attention -->
        <% const prePrintingNeedsAttentionTickets = prePrintingTicketsGroupedByDepartmentStatus['NEEDS ATTENTION'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: prePrintingDepartmentName,
          departmentStatus: 'Needs Attention',
          tableIdentifier: 'pre-printing-needs-attention',
          tickets: prePrintingNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | On Hold -->
        <% const prePrintingOnHoldTickets = prePrintingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: prePrintingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'pre-printing-on-hold',
          tickets: prePrintingOnHoldTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | In Progress -->
        <% const prePrintingInProgressTickets = prePrintingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: prePrintingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'pre-printing-in-progress',
          tickets: prePrintingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | Send to Printing -->
        <% const prePrintingSendToPrintingTickets = prePrintingTicketsGroupedByDepartmentStatus['SEND TO PRINTING'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: prePrintingDepartmentName,
          departmentStatus: 'Send to Printing',
          tableIdentifier: 'pre-printing-send-to-printing',
          tickets: prePrintingSendToPrintingTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Pre-Printing</h4><div class="department-divide-line"></div>
      </div>

      <!--- Printing Department Start -->
      <% const printingDepartmentName = 'PRINTING' %> 
      <% const printingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[printingDepartmentName] %>
      <% const numberOfPrintingTickets = Object.values(printingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= printingDepartmentName %>">
        <h4 class='department-name'>Printing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPrintingTickets %></span></h4>
        
        <!-- Printing | On Hold -->
        <% const printingOnHoldTickets = printingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: printingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'printing-on-hold',
          tickets: printingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[printingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | In Progress -->
        <% const printingInProgressTickets = printingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: printingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'printing-in-progress',
          tickets: printingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printing Ready --> 
        <% const printingReadyTickets = printingTicketsGroupedByDepartmentStatus['PRINTING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: printingDepartmentName,
          departmentStatus: 'Printing Ready',
          tableIdentifier: 'printing-in-progress',
          tickets: printingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printer One Schedule -->
        <% const printingPrinterOneScheduleTickets = printingTicketsGroupedByDepartmentStatus['PRINTER ONE SCHEDULE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: printingDepartmentName,
          departmentStatus: 'Printer 1 Scheduled',
          tableIdentifier: 'printing-printer-one-schedule',
          tickets: printingPrinterOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printer Two Schedule -->
        <% const printingPrinterTwoScheduleTickets = printingTicketsGroupedByDepartmentStatus['PRINTER TWO SCHEDULE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: printingDepartmentName,
          departmentStatus: 'Printer 2 Scheduled',
          tableIdentifier: 'printing-printer-two-schedule',
          tickets: printingPrinterTwoScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Printing</h4><div class="department-divide-line"></div>
      </div>

      <!--- Cutting Department Start -->
      <% const cuttingDepartmentName = 'CUTTING' %> 
      <% const cuttingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[cuttingDepartmentName] %>
      <% const numberOfCuttingTickets = Object.values(cuttingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= cuttingDepartmentName %>">
        <h4 class='department-name'>Cutting - <span class='text-blue' id='departmentTotalTickets'><%= numberOfCuttingTickets %></span></h4>
        
        <!-- Cutting | On Hold -->
        <% const cuttingOnHoldTickets = cuttingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'cutting-on-hold',
          allHoldReasonsForThisDepartment: departmentToHoldReasons[cuttingDepartmentName],
          tickets: cuttingOnHoldTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: 'length',
            6: 'material',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | In Progress -->
        <% const cuttingInProgressTickets = cuttingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'cutting-in-progress',
          tickets: cuttingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Cutting Ready -->
        <% const cuttingReadyTickets = cuttingTicketsGroupedByDepartmentStatus['CUTTING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'Cutting Ready',
          tableIdentifier: 'cutting-ready',
          tickets: cuttingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Delta One Schedule -->
        <% const cuttingDeltaOneScheduleTickets = cuttingTicketsGroupedByDepartmentStatus['DELTA ONE SCHEDULE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'Delta One Schedule',
          tableIdentifier: 'cutting-delta-one-schedule',
          tickets: cuttingDeltaOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Delta Two Schedule -->
        <% const cuttingDeltaTwoScheduleTickets = cuttingTicketsGroupedByDepartmentStatus['DELTA TWO SCHEDULE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'Delta Two Schedule',
          tableIdentifier: 'cutting-delta-two-schedule',
          tickets: cuttingDeltaTwoScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | RotoFlex One Schedule -->
        <% const cuttingRotoflexOneScheduleTickets = cuttingTicketsGroupedByDepartmentStatus['ROTOFLEX ONE SCHEDULE'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: cuttingDepartmentName,
          departmentStatus: 'Rotoflex One Schedule',
          tableIdentifier: 'cutting-rotoflex-one-schedule',
          tickets: cuttingRotoflexOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Cutting</h4><div class="department-divide-line"></div>
      </div>

      <!--- Winding Department Start -->
      <% const windingDepartmentName = 'WINDING' %> 
      <% const windingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[windingDepartmentName] %>
      <% const numberOfWindingTickets = Object.values(windingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= windingDepartmentName %>">
        <h4 class='department-name'>Winding - <span class='text-blue' id='departmentTotalTickets'><%= numberOfWindingTickets %></span></h4>
        
        <!-- Winding | On Hold -->
        <% const windingOnHoldTickets = windingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: windingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'winding-on-hold',
          tickets: windingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[windingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Winding | In Progress -->
        <% const windingInProgressTickets = windingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: windingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'winding-in-progress',
          tickets: windingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Winding | Winding Ready -->
        <% const windingReadyTickets = windingTicketsGroupedByDepartmentStatus['WINDING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: windingDepartmentName,
          departmentStatus: 'Winding Ready',
          tableIdentifier: 'winding-ready',
          tickets: windingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Winding</h4><div class="department-divide-line"></div>
      </div>

      <!--- Packaging Department Start -->
      <% const packagingDepartmentName = 'PACKAGING' %> 
      <% const packagingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[packagingDepartmentName] %>
      <% const numberOfPackagingTickets = Object.values(packagingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= packagingDepartmentName %>">
        <h4 class='department-name'>Packaging - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPackagingTickets %> </span></h4>
        
        <!-- Packaging | On Hold -->
        <% const packagingOnHoldTickets = packagingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: packagingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'packaging-on-hold',
          tickets: packagingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[packagingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Packaging | In Progress -->
        <% const packagingInProgressTickets = packagingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: packagingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'packaging-in-progress',
          tickets: packagingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Packaging | Packaging Ready -->
        <% const packagingReadyTickets = packagingTicketsGroupedByDepartmentStatus['PACKAGING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: packagingDepartmentName,
          departmentStatus: 'Packaging Ready',
          tableIdentifier: 'packaging-ready',
          tickets: packagingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Packaging</h4><div class="department-divide-line"></div>
      </div>

      <!--- Shipping Department Start-->
      <% const shippingDepartmentName = 'SHIPPING' %>
      <% const shippingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[shippingDepartmentName] %>
      <% const numberOfShippingTickets = Object.values(shippingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= shippingDepartmentName %>">
        <h4 class='department-name'>Shipping - <span class='text-blue' id='departmentTotalTickets'><%= numberOfShippingTickets %></span></h4>
        
        <!-- Shipping | On Hold -->
        <% const shippingOnHoldTickets = shippingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: shippingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'shipping-on-hold',
          tickets: shippingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[shippingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | In Progress -->
        <% const shippingInProgressTickets = shippingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: shippingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'shipping-in-progress',
          tickets: shippingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | Shipping Ready -->
        <% const shippingReadyTickets = shippingTicketsGroupedByDepartmentStatus['SHIPPING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: shippingDepartmentName,
          departmentStatus: 'Ready for Shipping',
          tableIdentifier: 'shipping-ready',
          tickets: shippingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | Farmed Out Tickets -->
        <% const shippingFarmedOutTicketsTickets = shippingTicketsGroupedByDepartmentStatus['FARMED OUT TICKETS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: shippingDepartmentName,
          departmentStatus: 'Farmed out Jobs',
          tableIdentifier: 'shipping-farmed-out-tickets',
          tickets: shippingFarmedOutTicketsTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Shipping</h4><div class="department-divide-line"></div>
      </div>

      <!-- Billing Department Start -->
      <% const billingDepartmentName = 'BILLING' %> 
      <% const billingTicketsGroupedByDepartmentStatus = ticketsGroupedByDestination[billingDepartmentName] %>
      <% const numberOfBillingTickets = Object.values(billingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= billingDepartmentName %>">
        <h4 class='department-name'>Billing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfBillingTickets %></span></h4>
        
        <!-- Billing | On Hold -->
        <% const billingOnHoldTickets = billingTicketsGroupedByDepartmentStatus['ON HOLD'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: billingDepartmentName,
          departmentStatus: 'On Hold',
          tableIdentifier: 'billing-on-hold',
          tickets: billingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[billingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Billing | In Progress -->
        <% const billingInProgressTickets = billingTicketsGroupedByDepartmentStatus['IN PROGRESS'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: billingDepartmentName,
          departmentStatus: 'In Progress',
          tableIdentifier: 'billing-in-progress',
          tickets: billingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Billing | Billing Ready -->
        <% const billingReadyTickets = billingTicketsGroupedByDepartmentStatus['BILLING READY'] %>
        <%- include('partials/ticket-table.ejs', {
          departmentIdentifier: billingDepartmentName,
          departmentStatus: 'Billing Ready',
          tableIdentifier: 'billing-ready',
          tickets: billingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Billing</h4><div class="department-divide-line"></div>
      </div>

       <%- include('partials/department-status-clones.ejs') %>
       <%- include('partials/product-clone.ejs') %>
  </div>
</div>


