<h3>Author: <%= printingSetup.author && printingSetup.author.email || 'N/A' %></h3>
<h3>Machine Name: <%= printingSetup.machine && printingSetup.machine.name || 'N/A' %></h3>
<h3>Frames to Run: <%= printingSetup.framesToRun || 'N/A' %></h3>
<h3>Notes: <%= printingSetup.notes || 'N/A' %></h3>
<h3>Material Name: <%= printingSetup.material && printingSetup.material.name || 'N/A' %></h3>
<h3>Video: <%= printingSetup.video || 'N/A' %></h3>
<h3>Difficulty: <%= printingSetup.difficulty || 'N/A' %></h3>
<h3>Alert Text Box: <%= printingSetup.alertTextBox || 'N/A' %></h3>
<h3>Default Machine Name: <%= printingSetup.defaultMachine && printingSetup.defaultMachine.name || 'N/A' %></h3>
<h3>Recipe ID: <%= printingSetup.recipe %></h3>
<h3>Creation Date: <%= printingSetup.createdAt.toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC'}) %></h3>
<h3>Last Updated: <%= printingSetup.updatedAt.toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC'}) %></h3>