<h1>
    Welcome to the Material Inventory Page
</h1>

<br>

<div>
    <p>Length in Inventory: <span class='total-length-of-material-in-inventory'><%= lengthOfAllMaterialsInInventory || 'N/A' %></span> feet</p>
    <p>Length on Order: <span class='total-length-of-material-ordered'><%= lengthOfAllMaterialsOrdered || 'N/A' %></span> feet</p>
    <p>Total POs: <span class='total-purchase-ordered'><%= totalPurchaseOrders || 'N/A' %></span></p>
</div>

<br>

<h2>Material Inventory Information:</h2>

<br>

<div id="material-inventories">
    <% materialInventories && materialInventories.forEach(materialInventory => { %>
        <div id="<%= materialInventory._id %>">
            <p>Material Id: <span class='material-id'><%= materialInventory.materialId || 'N/A' %></span></p>
            <p>Material Name: <span class='material-name'><%= materialInventory.name || 'N/A' %></span></p>
            <p>Length in Inventory: <span class='material-length-in-stock'><%= materialInventory.lengthOfMaterialInStock %></span> feet</p>
            <p>Length Ordered: <span class='material-length-ordered'><%= materialInventory.lengthOfMaterialOrdered %></span> feet</p>
        </div>

        <br>
    <% }) %>
</div>

<span id="how-cool"></span>

<script src="/socket.io/socket.io.js"></script>

<script>    
    const socket = io();
    const materialIdsAsString = '<%= materialInventories.map((material) => {return material._id}) %>';
    const materialIdsAsArray = materialIdsAsString.split(',');

    materialIdsAsArray.forEach((materialObjectId) => {
        console.log(`creating socket listener for materialObjectId = ${materialObjectId}`);

        socket.on(materialObjectId, function(materialInventoryInformation) {
            console.log(`socket.on('${materialObjectId}') received; Data => ${JSON.stringify(materialInventoryInformation)}`);

            const {
                lengthOfAllMaterialsInInventory,
                lengthOfAllMaterialsOrdered,
                totalPurchaseOrders,
                lengthOfMaterialInStock,
                lengthOfMaterialOrdered
            } = materialInventoryInformation

            $(`.total-length-of-material-in-inventory`).text(lengthOfAllMaterialsInInventory);
            $(`.total-length-of-material-ordered`).text(lengthOfAllMaterialsOrdered);
            $(`.total-purchase-ordered`).text(totalPurchaseOrders);

            $(`#${materialObjectId} .material-length-in-stock`).text(lengthOfMaterialInStock);
            $(`#${materialObjectId} .material-length-ordered`).text(lengthOfMaterialOrdered);
        });
    })
</script>
