<h3>Author: <%= windingSetup.author && windingSetup.author.email || 'N/A' %></h3>
<h3>Machine: <%= windingSetup.machine && windingSetup.machine.name || 'N/A' %></h3>
<h3>Notes: <%= windingSetup.notes || 'N/A' %></h3>
<h3>Video: <%= windingSetup.video || 'N/A' %></h3>
<h3>WatchOutFor: <%= windingSetup.watchOutFor || 'N/A' %></h3>
<h3>Difficulty: <%= windingSetup.difficulty || 'N/A' %></h3>
<h3>BackWinding: <%= windingSetup.backWinding || 'N/A' %></h3>
<h3>AlertTextBox: <%= windingSetup.alertTextBox || 'N/A' %></h3>
<h3>Default Machine: <%= windingSetup.defaultMachine && windingSetup.defaultMachine.name || 'N/A' %></h3>
<h3>Recipe: <%= windingSetup.recipe %></h3>
<h3>Creation Date: <%= windingSetup.createdAt.toLocaleString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %></h3>
<h3>Last Updated: <%= windingSetup.updatedAt.toLocaleString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %></h3>