
<script>
    var bodyclass=document.createAttribute("class");
    bodyclass.value="view-requests-body";
    document.getElementsByTagName("body")[0].setAttributeNode(bodyclass);
  </script>
  
<div class="page-wrapper view-requests">
    <%- include('partials/navbarMain.ejs') %>
    <%- include('partials/sidebarMain.ejs') %>
    <div class='tickets-card'>
      <div class='workflow-order-header card'>
        
        <div class='header-description'>
          <h1 class=''>Requests Workflow <span class='text-blue' id="department-select"> - All Departments</span></h1>
          <!-- <p>All jobs tickets can be found in the departments below.</p> -->
        </div>
        <div class="alert-box full-width">
            <%- include ("flashMessages") %>
        </div>
        
        <%- include('partials/requests-workflow-navigation.ejs') %>
        <%- include('partials/requests-workflow-sorting-filtering.ejs') %>

        <!--- Order Prep Department Start -->
        <% const orderPrepDepartmentName = 'ORDER-PREP' %>
        <% const orderPrepRequestsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(requestsGroupedByDestination[orderPrepDepartmentName]) %>
        <% const numberOfOrderPrepRequests = Object.values(orderPrepRequestsGroupedByDepartmentStatus).flat().length %>

        <!-- Order Prep | Needs Attention -->
        <% const orderPrepNeedsAttentionRequests = helperMethods.getEmptyArrayIfUndefined(orderPrepRequestsGroupedByDepartmentStatus['NEEDS ATTENTION']) %>
        <%- include('partials/request-table.ejs', {
            tableIdentifier: 'order-prep-needs-attention',
            cssClassToUseForTableColoring: 'red-master',
            requests: orderPrepNeedsAttentionRequests,
            columns: {
              1: 'row-number',
              2: 'request-type',
              3: 'date-created',
              4: '',
              5: '',
              6: '',
              7: '',
              8: ''
            }
        }) %>

        <!-- Order Prep | On Hold -->
        <% const orderPrepOnHoldRequests = helperMethods.getEmptyArrayIfUndefined(orderPrepRequestsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'order-prep-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          requests: orderPrepOnHoldRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Order Prep | Waiting on Customer -->
        <% const orderPrepWaitingOnCustomerRequests = helperMethods.getEmptyArrayIfUndefined(orderPrepRequestsGroupedByDepartmentStatus['WAITING ON CUSTOMER']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'order-prep-waiting-on-customer',
          cssClassToUseForTableColoring: 'red-master',
          requests: orderPrepWaitingOnCustomerRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Order Prep | Request Complete -->
        <% const orderPrepRequestCompleteRequests = helperMethods.getEmptyArrayIfUndefined(orderPrepRequestsGroupedByDepartmentStatus['REQUEST COMPLETE']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'order-prep-request-complete',
          cssClassToUseForTableColoring: 'red-master',
          requests: orderPrepRequestCompleteRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Order Prep | Waiting on Approval -->
        <% const orderPrepNeedsWaitingOnApprovalRequests = helperMethods.getEmptyArrayIfUndefined(orderPrepRequestsGroupedByDepartmentStatus['WAITING ON APPROVAL']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'order-prep-waiting-on-approval',
          cssClassToUseForTableColoring: 'red-master',
          requests: orderPrepNeedsWaitingOnApprovalRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>


        <!--- Art Prep Department Start -->
        <% const artPrepDepartmentName = 'ART-PREP' %>
        <% const artPrepRequestsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(requestsGroupedByDestination[orderPrepDepartmentName]) %>
        <% const numberOfArtPrepRequests = Object.values(artPrepRequestsGroupedByDepartmentStatus).flat().length %>

        <!-- Art Prep | Needs Attention -->
        <% const artPrepNeedsAttentionRequests = helperMethods.getEmptyArrayIfUndefined(artPrepRequestsGroupedByDepartmentStatus['NEEDS ATTENTION']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'art-prep-needs-attention',
          cssClassToUseForTableColoring: 'red-master',
          requests: artPrepNeedsAttentionRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Art Prep | On Hold -->
        <% const artPrepOnHoldRequests = helperMethods.getEmptyArrayIfUndefined(artPrepRequestsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'art-prep-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          requests: artPrepOnHoldRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Art Prep | In Progress -->
        <% const artPrepInProgressRequests = helperMethods.getEmptyArrayIfUndefined(artPrepRequestsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'art-prep-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          requests: artPrepInProgressRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Art Prep | Needs Plate -->
        <% const artPrepNeedsPlateRequests = helperMethods.getEmptyArrayIfUndefined(artPrepRequestsGroupedByDepartmentStatus['NEEDS PLATE']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'art-prep-needs-plate',
          cssClassToUseForTableColoring: 'red-master',
          requests: artPrepNeedsPlateRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Art Prep | Needs Die Line -->
        <% const artPrepNeedsDieLineRequests = helperMethods.getEmptyArrayIfUndefined(artPrepRequestsGroupedByDepartmentStatus['NEEDS DIE LINE']) %>
        <%- include('partials/request-table.ejs', {
          tableIdentifier: 'art-prep-needs-die-line',
          cssClassToUseForTableColoring: 'red-master',
          requests: artPrepNeedsDieLineRequests,
          columns: {
            1: 'row-number',
            2: 'request-type',
            3: 'date-created',
            4: '',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>
  
      </div>
  
      <div class='scroll-curtain'></div>
      </div>
    </div>