<%- include('partials/navbarMain.ejs') %>
<div class='page-wrapper in-progress-view flex-top-center-row'>
    <div class='left-col col'>
        <div class='click-tab ticket-tab active flex-center-left-row'>
            <div class='left-bumper'></div>
            <h3><%= ticket.ticketNumber ?? 'N/A' %></h3>
            <div class='bumper'></div>
        </div>
        <% ticket.products && ticket.products.forEach((product, index) => { %>
            <div class='click-tab product-tab' data-product-number="<%= product.productNumber %>" data-proof-url="<%= product.proofUrl %>">
                <div class='left-bumper'></div>
                <%= index + 1 %>. <%= product.productNumber ?? 'N/A' %>
                <div class='bumper'></div>
            </div>
        <% }) %>
        <div class='finish-tab'>
            Finish Ticket
        </div>
    </div>
    <div class='right-col col flex-top-center-row'>
        <div class='finish-window'>
            <h3>You are about to complete ticket #<%= ticket.ticketNumber ?? 'N/A' %>. Please verify all information is right. Subtract any downtine and confirm frames ran. </h3>
            <label for='totalFrames'>Total Frames Ran:</label>
            <input type='text' name='totalFrames' id='totalFrames'>
            <label for='totalFrames'>Attempts:</label>
            <input type='text' name='attempts' id='attempts'>
            <div id='dom-click-target' class='flex-center-left-column'>
                <div class='flex-center-left-row delay-reason-inputs'>
                    <label for="reason-select">Reason</label>
                    <div class="full-width">
                        <select class="reason-select">
                            <option value="">--Please choose an option--</option>
                            <% downtimeReasons.forEach((downtimeReason) => { %>
                                <option value="<%= downtimeReason %>"><%= downtimeReason %></option>
                            <% }) %>
                        </select>
                    </div>

                    <label for="time-selection">Duration (minutes)</label>
                    <div class="full-width">
                        <select class="time-selection">
                            <option value="">--Please choose a time--</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                </div>

                <button class='clone-button add-time-input submit-button'>Add +</button>
                
                <div class='flex-center-left-column full-width'>
                    <label for='jobComments'>Job Comments</label>
                    <textarea type='text' name='jobComments' id='jobComments'></textarea>
                </div>
            </div>
            <button id="finish-ticket-button" type="submit" class="btn btn-primary submit-button" data-ticket-id="<%= ticket.id %>">Finish Ticket</button>
        </div>
        <div class='middle-col flex-top-center-column half-width'>
            <div class='card'>
                <div class='ticket-details-wrapper'>
                    <h3 class='ticket-info'><%= ticket.customerName ? ticket.customerName : 'N/A' %></h3>
                    <div class='ticket-priority'><%= ticket.priority %></div>
                    <div class='highlight-frame-small flex-center-space-between-row'>
                        <div class='col col-1'>
                            <div class='box'>
                                <span>Created</span>
                                <p><%= helperMethods.getDayNumberAndMonth(ticket.createdAt) %></p>
                            </div>
                        </div>
                        <div class='col col-2'>
                            <div class='box'>
                                <span>Due</span>
                                <p><%= helperMethods.getDayNumberAndMonth(ticket.shipDate) %></p>
                            </div>
                        </div>
                        <div class='col col-3'>
                            <div class='box'>
                                <span>Age</span>
                                <p><%= ageOfTicket %></p>
                            </div>
                        </div>
                    </div>
                    <div class='highlight-frame flex-center-space-between-row'>
                        <div class='col col-1'>
                            <div class='box'>
                                <div class='symbol-frame'>
                                    <i class="fas fa-toilet-paper-alt"></i>
                                </div>
                                <span>Material</span>
                                <p><%= ticket.primaryMaterial %></p>
                            </div>
                        </div>
                        <div class='col col-2'>
                            <div class='box'>
                                <div class='symbol-frame'>
                                    <i class="fas fa-spray-can"></i>
                                </div>
                                <span>Finish</span>
                                <% ticket.products && ticket.products[0].finishes.forEach((finish) => { %>
                                    <p><%= finish %></p>
                                <% }) %>
                            </div>
                        </div>
                        <div class='col col-3'>
                            <div class='box'>
                                <div class='symbol-frame'>
                                    <i class="fas fa-th"></i>
                                </div>
                                <span>Die</span>
                                <p><%= ticket.products[0].productDie %></p>
                            </div>
                        </div>
                        <div class='col col-4'>
                            <div class='box'>
                                <div class='symbol-frame'>
                                    <i class="fas fa-shoe-prints"></i>
                                </div>
                                <span>Total Feet</span>
                                <p><%= ticket.totalMaterialLength %></p>
                            </div>
                        </div>
                    </div>
                    <div class='notes-frame'>
                        <span>Ticket Notes</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class='product-table'>
                        <div class='table-header flex-center-space-around-row'>
                            <div class='col-header'>#</div>
                            <div class='col-header'>Product</div>
                            <div class='col-header'>QTY</div>
                            <div class='col-header'>Frames</div>
                            <div class='col-header'>Feet</div>
                        </div>
                        <div class='table-body flex-top-center-column'>
                            <% ticket.products && ticket.products.forEach((product, index) => { %>
                                <div class='table-row flex-center-center-row'>
                                    <div class='col-td'><%= index + 1 %></div>
                                    <div class='col-td'><%= product.productNumber %></div>
                                    <div class='col-td'><%= product.labelQty || 'N/A'%></div>
                                    <div class='col-td'><%= product.totalFrames || 'N/A'%></div>
                                    <div class='col-td'><%= product.totalFeet || 'N/A' %></div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class='job-notes'>
                    <div class='front-note'>
                        <h3>Job Notes:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class='text-left full-width'>
                            <button class='submit-button close-window'>I Have Read</button>
                        </div>
                    </div>
                </div>
                <% ticket.products && ticket.products.forEach((product) => { %>
                <div class='product-info' data-product-number="<%= product.productNumber %>">
                    <% if (ticket.destination.department === 'ORDER-PREP') { %>
                        <p>Order Prep</p>
                    <% } else if (ticket.destination.department === 'ART-PREP' || ticket.destination.department === 'PRE-PRINTING') { %>
                        <p>Art Prep</p>
                        <p>Pre Printing</p>
                    
                        <span><%= product.hotFolder || 'N/A' %> (E)</span>
                        <span><%= product.unwindDirection || 'N/A' %> (F)</span>
                        <span><%= product.cornerRadius || 'N/A' %> (G)</span>
                        <span><%= product.numberOfColors || 'N/A' %> (H)</span>
                        <span><%= product.frameRepeat || 'N/A' %> (I)</span>
                        <span><%= product.sizeAcross || 'N/A' %> (J)</span>
                        <span><%= product.sizeAround || 'N/A' %> (K)</span>
                        <span><%= product.labelsAcross || 'N/A' %> (L)</span>
                        <span><%= product.matrixAcross || 'N/A' %> (M)</span>
                        <span><%= product.matrixAround || 'N/A' %> (N)</span>
                        <span><%= product.labelsAround || 'N/A' %> (O)</span>
                        <span><%= product.topBottomBleed || 'N/A' %> (P)</span>
                        <span><%= product.leftRightBleed || 'N/A' %> (Q)</span>
                        <span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                        <span><%= product.primaryMaterial || 'N/A' %> (S)</span>
                        <span><%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                        <span><%= product.prePrintingNotes || 'N/A' %> (T)</span>
                    
                    <% } else if (ticket.destination.department === 'PRINTING') { %>
                        <p>PRINTING</p>
                        <div class='flex-center-left-row flex-wrap'>
                            <div class='department-notes'>
                                <span>Printing Notes</span>
                                <span><%= product.printingNotes || 'N/A'%> (AB)</span>
                            </div>

                            <div class='product-attribute-frame'>
                                <span>Tooling Notes</span>
                                <span><%= product.toolingNotes || 'N/A'%> (ACC)</span>
                            </div>

                            <div class='print-measure-frame flex-center-center-row'>
                                <div class='col-left flex-center-center-column'>
                                    <div class='flex-center-left-row'>
                                        <span>S. Across</span>
                                        <span><%= product.sizeAcross || 'N/A' %> (J)</span>
                                    </div>
                                    <div class='flex-center-left-row'>
                                        <span>Matrix Across</span>
                                        <span><%= product.matrixAcross || 'N/A' %> (M)</span>
                                    </div>
                                    <div class='flex-center-left-row'>
                                        <span>Measure Across</span>
                                        <span><%= product.measureAcross || 'N/A' %> (U)</span>
                                    </div>
                                </div>
                                <div class='col-right flex-center-center-column'>
                                    <div class='flex-center-left-row'>
                                        <span>S. Around</span>
                                        <span><%= product.sizeAround || 'N/A' %> (K)</span>
                                    </div>
                                    <div class='flex-center-left-row'>
                                        <span>Matrix Around</span>
                                        <span><%= product.matrixAround || 'N/A' %> (N)</span>
                                    </div>
                                    <div class='flex-center-left-row'>
                                        <span>Measure Around</span>
                                        <span><%= product.measureAround || 'N/A' %> (V)</span>
                                    </div>
                                </div>
                            </div>

                            <div class='product-attribute-frame'>
                                <span>Labels Across</span>
                                <span><%= product.labelsAcross || 'N/A' %> (L)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Labels Around</span>
                                <span><%= product.labelsAround || 'N/A' %> (O)</span>
                            </div>

                        


                            <div class='product-attribute-frame'>
                                <span>Labels Per Frame</span>
                                <span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Frames Plus Overrun</span>
                                <span><%= product.framesPlusOverRun || 'N/A'%> (W)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Extra Frames</span>
                                <span><%= product.extraFrames || 'N/A'%> (X)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Total Frames</span>
                                <span><%= product.totalFrames || 'N/A'%> (Y)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Total Feet</span>
                                <span><%= product.totalFeet || 'N/A'%> (Z)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Label QTY</span>
                                <span><%= product.labelQty || 'N/A'%> (AA)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Frame Repeat</span>
                                <span><%= product.frameRepeat || 'N/A'%> (I)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Number of Colors</span>
                                <span><%= product.numberOfColors || 'N/A'%> (H)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Unwind Direction</span>
                                <span><%= product.unwindDirection || 'N/A'%> (F)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Number of Rolls</span>
                                <span><%= product.numberOfRolls || 'N/A'%> (AC)</span>
                            </div>
                            <div class='product-attribute-frame'>
                                <span>Material</span>
                                <span><%= product.primaryMaterial %></span>
                            </div>

                        </div>
                    
                    <% } else if (ticket.destination.department === 'CUTTING') { %>
                        <p>CUTTING</p>
                        <div class='product-attribute-frame'>
                            <span>Die</span>
                            <span><%= product.productDie || 'N/A' %> (AD)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>
                            <span><%= product.dieCuttingFinish || 'N/A' %> (AE)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>
                            <span><%= product.varnish || 'N/A' %> (AF)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>
                            <span><%= product.finishType || 'N/A' %> (AG)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>
                            <span><%= product.productDieTwo || 'N/A' %> (AH)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.dieCuttingMarriedMaterial || 'N/A' %> (AI)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.deltaRepeat || 'N/A' %> (AJ)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.rotoRepeat || 'N/A' %> (AK)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.toolNumberAround || 'N/A' %> (AL)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.plateId || 'N/A' %> (AM)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.dieCuttingNotes || 'N/A' %> (AN)</span>
                        </div>
                    <% } else if (ticket.destination.department === 'WINDING') { %>
                        <p>WINDING</p>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.labelQty || 'N/A' %> (AA)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                        </div>

                            <span>TODO: Waiting on Storm (AQ)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.unwindDirection || 'N/A' %> (F)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.coreHeight || 'N/A' %> (AR)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.numberOfCores || 'N/A' %> (AS)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.overRun * 100 %>% (AT)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.coreDiameter || 'N/A' %> (AU)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= product.windingNotes || 'N/A' %> (AV)</span>
                        </div>
                    <% } else if (ticket.destination.department === 'PACKAGING') { %>
                        <p>Packaging</p>
                        
                    <% } else if (ticket.destination.department === 'SHIPPING') { %>
                        <p>Shipping</p>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingEmailAddress || 'N/A' %> (AW)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingMethod || 'N/A' %> (AX)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingInstructions || 'N/A' %> (AY)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingAddress || 'N/A' %> (AZ)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingUnitNumber || 'N/A' %> (AAA)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shipCity || 'N/A' %> (AAB)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shipState || 'N/A' %> (AAC)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shipZipCode || 'N/A' %> (AAD)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingLocationName || 'N/A' %> (AAE)</span>
                        </div>
                        <div class='product-attribute-frame'>
                            <span>Placeholder</span>    
                            <span><%= ticket.shippingAttention || 'N/A' %> (AAF)</span>
                        </div>
                    <% } else if (ticket.destination.department === 'BILLING') { %>
                        <p>BILLING</p>
                    <% } else { %>
                        <% throw new Error(`Error: an unknown department was encountered called "${ticket.destination.department}".`) %> 
                    <% } %>
                </div>
                <% }) %>
            </div>
            <div class='card'>
                <div class='checkbox-frame'>
                    <p>
                        <input type="checkbox" id="test1" />
                        <label for="test1">Red</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test2" />
                        <label for="test2">Green</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test3" />
                        <label for="test3">Blue</label>
                    </p>
                </div>
            </div>
        </div>
        <div class='card proof half-width'>
            <div class='proof-placeholder'><div class='flex-center-center-row' style='height: 100%;'><h1 class='text-box'>Random Quote</h1></div></div>
            <iframe id='proof' src= "/images/1139D-096 Proof.pdf#zoom=50" type="application/pdf"></iframe>
        </div>
    </div>
</div>