<h1>
    Welcome to the Material Inventory Page
</h1>

<br>

<div>
    <p>Length in Inventory: <%= lengthOfAllMaterialsInInventory || 'N/A' %> feet</p>
    <p>Length on Order: <%= lengthOfAllMaterialsOrdered || 'N/A' %> feet</p>
    <p>Total POs: <%= totalPurchaseOrders || 'N/A' %></p>
</div>

<br>

<h2>Material Inventory Information:</h2>

<br>

<div id="material-inventories">
    <% materialInventories && materialInventories.forEach(materialInventory => { %>
        <div id="<%= materialInventory._id %>">
            <p class='material-id'>Material Id: <%= materialInventory.materialId || 'N/A' %></p>
            <p class='material-name'>Material Name: <%= materialInventory.name || 'N/A' %></p>
            <p class='material-length-in-stock'>Length in Inventory: <%= materialInventory.lengthOfMaterialInStock %> feet</p>
            <p class='material-length-ordered'>Length Ordered: <%= materialInventory.lengthOfMaterialOrdered %> feet</p>
        </div>

        <br>
    <% }) %>
</div>

<span id="how-cool"></span>

<script src="/socket.io/socket.io.js"></script>

<script>
    function handlePurchaseOrderChangeEvent(purchaseOrderId, purchaseOrder) {
      console.log(`A PurchaseOrder has been Created/Updated/Deleted in the database: ${purchaseOrderId} - ${JSON.stringify(purchaseOrder)}`);
    }
    
    const socket = io();
    const materialIdsAsString = '<%= materialInventories.map((material) => {return material._id}) %>';
    const materialIdsAsArray = materialIdsAsString.split(',');

    console.log(materialIdsAsString);
    console.log(materialIdsAsArray);

    materialIdsAsArray.forEach((materialObjectId) => {
        console.log(`creating socket listener for materialObjectId = ${materialObjectId}`);

        socket.on(materialObjectId, function(purchaseOrder) {
          handlePurchaseOrderChangeEvent(materialObjectId, purchaseOrder);
        });
    })
</script>
