<%- include('partials/navbarMain.ejs') %>
<div class='page-wrapper materials-wrapper flex-center-center-column full-width'>
    <h2 class="page-title">Inventory Page</h2>
    <div class='material-header flex-top-space-between-row full-width'>
      <div class='card col col-one third-width'>
        <span>Feet On Hand</span>
        <h1 class='total-length-of-material-in-inventory'><%= lengthOfAllMaterialsInInventory || 'N/A' %></h1>
      </div>
      <div class='card col col-two'>
        <span>Feet On Order</span>
        <h1 class='total-length-of-material-ordered'><%= lengthOfAllMaterialsOrdered || 'N/A' %></h1>
      </div>
      <div class='card col col-three'>
        <span>Total POs</span>
        <h1 class='total-purchase-ordered'><%= totalPurchaseOrders || 'N/A' %></h1>
      </div>
    </div>

    <div class="workflow-filter flex-center-left-row full-width">

        <a class="create bg-blue text-white border-blue btn-create new-po-btn" href="/material-orders/create">PO <i class="fa-regular fa-plus"></i></a>

        <a class="create bg-blue text-white border-blue btn-create new-po-btn" href="/materials/create" role="button">Material <i class="fa-regular fa-plus"></i></a>

        <div class="search-wrapper flex-center-left-row">
          <i class="fa-regular fa-magnifying-glass flex-center-center-row"></i><input placeholder="Search" value="" class="search-input">
        </div>

        <div class="split-btn-frame btn-filter flex-center-center-row tooltip">
          <span class="tooltiptext">Filter by anything</span>
          <div class="filter-btn-wrapper flex-center-center-row">
            <button class="btn-split quick-filter flex-center-center-row">
              <i class="fa-light fa-filter"></i>Filter
            </button>
            <button class="btn-split-arrow-dropdown btn-advanced-filter"><i class="fa-regular fa-chevron-down"></i></button>
          </div>

          <div class="quick-filter-dropdown dropdown">
            <h5><b>Quick Filter</b></h5>
            <p>Testing how big the dropdown box can be</p>

            <% materialInventories && materialInventories.forEach(materialInventory => { %>
              <% const {material} = materialInventory; %>
              <a class="<%= material.name || 'N/A' %> filter-option" href=""><%= material.name || 'N/A' %></a>
            <% }) %>

          </div>

          <div class="advanced-filter-dropdown dropdown">
            <h5><b>Advanced Filter</b></h5>
            <p>Testing how big the dropdown box can be</p>
          </div>
        </div>

        <div class="sort-wrapper tooltip">
          <span class="tooltiptext">Sort by any column</span>
          <button class="sort btn-sort"><i class="fa-regular fa-arrow-down-arrow-up"></i> Sort</button>
          <div class="sort-dropdown dropdown">
            <h5><b>Sort by</b></h5>
            <p>Testing how big the dropdown box can be</p>
          </div>
        </div>

        <div class="all-wrapper tooltip">
          <span class="tooltiptext">See All</span>
          <button class="sort btn-sort"><i class="fa-solid fa-layer-group"></i> See All(<span id="material-count">Count</span>)</button>
        </div>

        

      </div>

    <div class='material-card-section full-width'>

        <% materialInventories && materialInventories.forEach(materialInventory => { %>
            <% const {material} = materialInventory; %>

      <div class='card' id="<%= material._id %>">
        <div class='card-header flex-center-center-row'>
          <div class='col col-left'>
            <h2 class='material-id'><%= material.materialId || 'N/A' %></h2>
          </div>
          <div class='col col-right'>
            <i class="fa-light fa-calendar"></i>
          </div>

        </div>
        <div class='material-description text-left'>
            <span class='material-name'><%= material.name || 'N/A' %>
        </div>
        <div class='actual-vs-ordered-container'>
          <div class='po-date-container'>
            <div class='po-list-header'>
              <div class='col col-one'>
                PO #
              </div>
              <div class='col col-two'>
                Arrival Date
              </div>
              <div class='col col-three'>
                Feet
              </div>
            </div>
            <div class='po-list-container'>

              <% if (materialInventory.purchaseOrdersForMaterial) { %>
                <% materialInventory.purchaseOrdersForMaterial.forEach((purchaseOrder) => { %> 
                    <div class='po-row'>
                        <div class='po-col <%= purchaseOrder._id %>'><%= purchaseOrder.purchaseOrderNumber ?? 'N/A' %></div>
                        <div class='po-col'><%= purchaseOrder.arrivalDate && purchaseOrder.arrivalDate.toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric', timeZone: 'UTC'}) || 'N/A' %></div>
                        <div class='po-col'><%= purchaseOrder.feetPerRoll * purchaseOrder.totalRolls ?? 'N/A' %></div>
                    </div>
                <% }) %>

                <%} else { %>
                  hello mars

                    
                <% } %>

            </div>

          </div>
          <div class='col col-left'>
            <span>Actual</span>
            <h2><%= materialInventory.lengthOfMaterialInStock %></h2>
          </div>
          <div class='divide-line'></div>
          <div class='col col-right'>
            <span>Ordered</span>
            <h2><%= materialInventory.lengthOfMaterialOrdered %></h2>
          </div>
        </div>

      </div>

      <% }) %>

    </div>
  
  </div>

<script src="/socket.io/socket.io.js"></script>

<script>    
    const socket = io();
    const materialIdsAsString = '<%= materialInventories.map(({material}) => {return material._id}) %>';
    const materialIdsAsArray = materialIdsAsString.split(',');

    materialIdsAsArray.forEach((materialObjectId) => {
        console.log(`creating socket listener for materialObjectId = ${materialObjectId}`);

        socket.on(materialObjectId, function(materialInventoryInformation) {
            console.log(`socket.on('${materialObjectId}') received; Data => ${JSON.stringify(materialInventoryInformation)}`);

            const {
                lengthOfAllMaterialsInInventory,
                lengthOfAllMaterialsOrdered,
                totalPurchaseOrders,
                lengthOfMaterialInStock,
                lengthOfMaterialOrdered,
                purchaseOrdersForMaterial,
                purchaseOrder
            } = materialInventoryInformation

            $(`.total-length-of-material-in-inventory`).text(lengthOfAllMaterialsInInventory);
            $(`.total-length-of-material-ordered`).text(lengthOfAllMaterialsOrdered);
            $(`.total-purchase-ordered`).text(totalPurchaseOrders);

            $(`#${materialObjectId} .material-length-in-stock`).text(lengthOfMaterialInStock);
            $(`#${materialObjectId} .material-length-ordered`).text(lengthOfMaterialOrdered);

            $(`.${purchaseOrder._id} .po-number`).text(purchaseOrder.purchaseOrderNumber);
            
            const purchaseOrderArrivalDate = new Date(purchaseOrder.arrivalDate).toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric', timeZone: 'UTC'}).substring(0, 10)
            $(`.${purchaseOrder._id} .po-arrival-date`).text(purchaseOrderArrivalDate);
            
            const purchaseOrderTotalLength = purchaseOrder.feetPerRoll * purchaseOrder.totalRolls;
            $(`.${purchaseOrder._id} .po-total-length`).text(purchaseOrderTotalLength);
        });
    })
</script>
