<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper view-full-ticket-wrapper">

    <div class="alert-box full-width">
        <%- include ("flashMessages") %>
    </div>

    <div class="card">
        <h1>Order Workflow - <%= ticket.destination && ticket.destination.department || 'N/A' %> - #<%= ticket.ticketNumber || 'N/A' %> - <%= product.productNumber || 'N/A' %> - <%= ticket.customerName || 'N/A' %> </h1>
        <p>Description: <%= product.description || 'N/A' %> (Storm: Should the description default to 'N/A' if it doesn't exist?)</p>
    </div>
    <br>
    
    <div class="full-width pre-printing-department-wrapper">
        <h2>Pre-Press Section:</h2>
        <div class="masonary-frame flex-center-left-row flex-wrap full-width">
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Hot Folder: </label>
                </div>
                <div class="flex-top-center-row full-width">
                    <span><%= product.hotFolder || 'N/A' %> (E)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Unwind: </label>
                </div>
                <div class="flex-top-center-row full-width">
                    <span><%= product.unwindDirection || 'N/A' %> (F)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Corner Radius: </label>
                </div>
                <div class="flex-top-center-row full-width">
                    <span><%= product.cornerRadius || 'N/A' %> (G)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Printing Type: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.numberOfColors || 'N/A' %> (H)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Frame Repeat: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.frameRepeat || 'N/A' %> (I)</span>
                </div>
            </div>
            <div class="card three-fourths-width multiple">
                <div class="full-width flex-center-center-row">
                    <label>Label Across: </label><span><%= product.sizeAcross || 'N/A' %> (J)</span>
                    <label>Label Around: </label><span><%= product.sizeAround || 'N/A' %> (K)</span>
                    <label>Labels Across: </label><span><%= product.labelsAcross || 'N/A' %> (L)</span>
                </div>
                <div class="full-width flex-center-center-row">
                    <label>Matrix Across: </label><span><%= product.matrixAcross || 'N/A' %> (M)</span>
                    <label>Matrix Around: </label><span><%= product.matrixAround || 'N/A' %> (N)</span>
                    <label>Labels Around: </label><span><%= product.labelsAround || 'N/A' %> (O)</span>
                </div>
                <div class="full-width flex-center-center-row">
                    <label>Top/Bottom: </label><span><%= product.topBottomBleed || 'N/A' %> (P)</span>
                    <label>Left/Right: </label><span><%= product.leftRightBleed || 'N/A' %> (Q)</span>
                    <label>Labels Per Frame: </label><span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Material: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.primaryMaterial || 'N/A' %> (S)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>QTY/Roll: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                </div>
            </div>
            <div class="card half-width">
                <div class="flex-center-left-row full-width">
                    <label>Pre-Press Notes: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.prePrintingNotes || 'N/A' %> (T)</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="full-width printing-department-wrapper">
        <h2>Printing Section</h2>
        <div class="masonary-frame flex-center-left-row flex-wrap full-width">
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Material: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.primaryMaterial || 'N/A' %> (???)</span>
                </div>
            </div>
            <div class="card three-fourths-width multiple">
                <div class="full-width flex-center-center-row">
                    <label>Label Across: </label><span><%= product.sizeAcross || 'N/A' %> (J)</span>
                    <label>Label Around: </label><span><%= product.sizeAround || 'N/A' %> (K)</span>
                    <label>Labels Across: </label><span><%= product.labelsAcross || 'N/A' %> (L)</span>
                </div>
                <div class="full-width flex-center-center-row">
                    <label>Matrix Across: </label><span><%= product.matrixAcross || 'N/A' %> (M)</span>
                    <label>Matrix Around: </label><span><%= product.matrixAround || 'N/A' %> (N)</span>
                    <label>Labels Around: </label><span><%= product.labelsAround || 'N/A' %> (O)</span>
                </div>
                <div class="full-width flex-center-center-row">
                    <label>Measure Across: </label><span><%= product.measureAcross || 'N/A' %> (U)</span>
                    <label>Measure Around: </label><span><%= product.measureAround || 'N/A' %> (V)</span>
                    <label>Labels Per Frame: </label><span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                </div>
            </div>
            <div class="card half-width">
                <div class="flex-center-left-row full-width">
                    <label>Printing Notes: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.printingNotes || 'N/A'%> (AB)</span>
                </div>
            </div>
            <div class="quarter-width flex-center-center-row">
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Frames: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.framesPlusOverRun || 'N/A'%> (W)</span>
                    </div>
                </div>
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Extra Frames: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.extraFrames || 'N/A'%> (X)</span>
                    </div>
                </div>
            </div>
            <div class="quarter-width flex-center-center-row">
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Total Frames: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.totalFrames || 'N/A'%> (Y)</span>
                    </div>
                </div>
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Total Feet: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.totalFeet || 'N/A'%> (Z)</span>
                    </div>
                </div>
            </div>
            <div class="half-width flex-center-center-row">
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Quantity: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.labelQty || 'N/A'%> (AA)</span>
                    </div>
                </div>
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Frame Repeat: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.frameRepeat || 'N/A'%> (I)</span>
                    </div>
                </div>
            </div>
            <div class="quarter-width flex-center-center-row">
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Color Sample: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.toolingNotes || 'N/A'%> (ACC)</span>
                    </div>
                </div>
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Printing Type: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.numberOfColors || 'N/A'%> (H)</span>
                    </div>
                </div>
            </div>
            <div class="quarter-width flex-center-center-row">
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label>Unwind: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.unwindDirection || 'N/A'%> (F)</span>
                    </div>
                </div>
                <div class="card half-width">
                    <div class="flex-center-left-row full-width">
                        <label># of Rolls: </label>
                    </div>
                    <div class="flex-center-center-row full-width">
                        <span><%= product.numberOfRolls || 'N/A'%> (AC)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="full-width cutting-department-wrapper">
        <h2>Cutting Section:</h2>
        <div class="masonary-frame flex-center-left-row flex-wrap full-width">
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Die #1: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.productDie || 'N/A' %> (AD)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Material #1: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.dieCuttingFinish || 'N/A' %> (AE)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Varnish: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.varnish || 'N/A' %> (AF)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Finish Type: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.finishType || 'N/A' %> (AG)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Die #2: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.productDieTwo || 'N/A' %> (AH)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Material #2: </label>
                </div>
                <div class="flex-center-left-row full-width">
                    <span><%= product.dieCuttingMarriedMaterial || 'N/A' %> (AI)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Delta Repeat: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.deltaRepeat || 'N/A' %> (AJ)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Roto Repeat: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.rotoRepeat || 'N/A' %> (AK)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-center-row full-width">
                <label>Die Around: </label>
                </div>
                <div class="flex-center-center-row full-width">
                <span><%= product.toolNumberAround || 'N/A' %> (AL)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Plate ID: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.plateId || 'N/A' %> (AM)</span>
                </div>
            </div>
            <div class="card half-width">
                <div class="flex-center-left-row full-width">
                    <label>Cutting Notes: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.dieCuttingNotes || 'N/A' %> (AN)</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="full-width winding-department-wrapper">
        <h2>Winding Section:</h2>
        <div class="masonary-frame flex-center-left-row flex-wrap full-width">
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Finished QTY: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span> <%= product.labelQty || 'N/A' %> (AA)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>QTY/Roll: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span> <%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Press Count:</label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>TODO: Waiting on Storm (AQ)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Unwind Direction: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>  <%= product.unwindDirection || 'N/A' %> (F)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Core Height: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>  <%= product.coreHeight || 'N/A' %> (AR)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label># of Cores: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= product.numberOfCores || 'N/A' %> (AS)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Overrun: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>  <%= product.overRun * 100 %>% (AT)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Core Diameter: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>  <%= product.coreDiameter || 'N/A' %> (AU)</span>
                </div>
            </div>
            <div class="card full-width">
                <div class="flex-center-left-row full-width">
                    <label>Winding Notes: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>  <%= product.windingNotes || 'N/A' %> (AV)</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="full-width shipping-department-wrapper">
        <h2>Shipping Section:</h2>
        <div class="masonary-frame flex-center-left-row flex-wrap full-width">
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Email Address: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingEmailAddress || 'N/A' %> (AW)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping VIA: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingMethod || 'N/A' %> (AX)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping Instructions: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingInstructions || 'N/A' %> (AY)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping Address 1: </label>
                    </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingAddress || 'N/A' %> (AZ)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Unit: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingUnitNumber || 'N/A' %> (AAA)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>City: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shipCity || 'N/A' %> (AAB)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>State: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shipState || 'N/A' %> (AAC)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Zip: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shipZipCode || 'N/A' %> (AAD)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping Location: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingLocationName || 'N/A' %> (AAE)</span>
                </div>
            </div>
            <div class="card quarter-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping Attention: </label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span><%= ticket.shippingAttention || 'N/A' %> (AAF)</span>
                </div>
            </div>
            <div class="card half-width">
                <div class="flex-center-left-row full-width">
                    <label>Shipping Notes:</label>
                </div>
                <div class="flex-center-center-row full-width">
                    <span>TODO: Waiting on Storm (???)</span>
                </div>
            </div>
        </div>
    </div>

</div>