<%- include('partials/navbarMain.ejs') %>

  <div class="page-wrapper all-recipes">
    <h2 class="content-header-title"> View All Printing Recipes</h2>
    <div class="table-wrapper">
      <div class="table-header">
        <div class="left-column">
          ABC
        </div>

        <div class="right-column">
          <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
          <a class="btn btn-primary create-new-recipe" href="/printing-setups/create/<%= recipeId %>" role="button">New
            Recipe</a>
        </div>

      </div>
      <table class="table recipes" data-endpoint="/printing-setups/all/<%= recipeId %>">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class="">
              <div>Row #</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'createdAt') ? sortMethod : "none" %>" class="" id="createdAt">
              <div>Date Created</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'author') ? sortMethod : "none" %>" class="" id="author">
              <div>Author</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'machine') ? sortMethod : "none" %>" class="" id="machine">
              <div>Machine</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'framesToRun') ? sortMethod : "none" %>" class="" id="framesToRun">
              <div>Frames To Run</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'notes') ? sortMethod : "none" %>" class="" id="notes">
              <div>Notes</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'material') ? sortMethod : "none" %>" class="" id="material">
              <div>Material</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'video') ? sortMethod : "none" %>" class="" id="video">
              <div>Video</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'difficulty') ? sortMethod : "none" %>" class="" id="difficulty">
              <div>Difficulty</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'alertTextBox') ? sortMethod : "none" %>" class="" id="alertTextBox">
              <div>Alert</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="<%= (sortBy && sortBy == 'defaultMachine') ? sortMethod : "none" %>" class="" id="defaultMachine">
              <div>Default Machine</div>
            </th>
            <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class="">
              <div>Actions</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (typeof printingSetups !='undefined' ) { %>
            <% printingSetups.forEach((printingSetup, index)=> { %>
              <tr>
                <td scope="row" id="row">
                  <%= index + 1 %>
                </td>
                <td id="created">
                  <%= printingSetup.createdAt ? printingSetup.createdAt.toLocaleString() : 'N/A' %>
                </td>
                <td><div class="media-box"><div class="user-face" <% if (printingSetup.author.profilePicture && printingSetup.author.profilePicture.data) { %>style="background: url('data:image/<%= printingSetup.author.profilePicture.contentType %>;base64,<%= printingSetup.author.profilePicture.data.toString('base64') %>') center center no-repeat; background-size: cover;"<% } %>></div><%= printingSetup.author.fullName || 'N/A' %></div></td>
                <td id="machine-name">
                  <%= printingSetup.machine && printingSetup.machine.name || 'N/A' %>
                </td>
                <td id="printint-frames">
                  <%= printingSetup.framesToRun || 'N/A' %>
                </td>
                <td id="printing-notes" <% if (printingSetup.notes) { %>onclick="window.open('<%= printingSetup.notes %>')"<%} else { %><% } %>>
                  <% if (printingSetup.notes) { %>
                    <div class="video-link-box">
                      <svg data-v-32017d0f="" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none" stroke="#00cfe8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-50 feather feather-edit-2 text-info"><path data-v-32017d0f="" d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                      View Notes
                    </div>
                  <%} else { %>
                    N/A
                    <% } %> 
                </td>
                <td id="setup-material">
                  <%= printingSetup.material && printingSetup.material.name || 'N/A' %>
                </td>
                <td id="video" <% if (printingSetup.video) { %>onclick="window.open('<%= printingSetup.video || 'N/A' %>')"<%} else { %><% } %>>
                  <% if (printingSetup.video) { %>
                    <div class="video-link-box">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="#28c76f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
                      <a href="<%= printingSetup.video %>" target="_blank">View Video</a>
                    </div>
                  <%} else { %>
                    N/A
                    <% } %>
                </td>
                <td id="difficulty">
                  <%= printingSetup.difficulty || 'N/A' %>
                </td>
                <td id="alert">
                  <%= printingSetup.alertTextBox || 'N/A' %>
                </td>
                <td id="default-machine">
                  <%= printingSetup.defaultMachine && printingSetup.defaultMachine.name || 'N/A' %>
                </td>
                <td>
                  <div class="options-reveal-box">
                    <svg data-v-32017d0f="" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle text-body feather feather-more-vertical"><circle data-v-32017d0f="" cx="12" cy="12" r="1"></circle><circle data-v-32017d0f="" cx="12" cy="5" r="1"></circle><circle data-v-32017d0f="" cx="12" cy="19" r="1"></circle></svg>
                    <ul class="options-dropdown">
                      <li>
                        <a href="/printing-setups/<%= printingSetup.id %>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> View
                        </a>
                      </li>
                      <li>
                        <a href="/printing-setups/update/<%= printingSetup.id %>">
                          <svg data-v-32017d0f="" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path data-v-32017d0f="" d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path data-v-32017d0f="" d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg> Edit
                        </a>
                      </li>
                      <li>
                        <a href="/printing-setups/delete/<%= printingSetup.id %>">
                          <svg data-v-32017d0f="" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline data-v-32017d0f="" points="3 6 5 6 21 6"></polyline><path data-v-32017d0f="" d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% }) %>
                <% } %>
        </tbody>
      </table>
      <div class="full-width pagination-box">
    
        <a class="arrow-box arrow-left <% if (pageNumber <= 1) { %>deactivate-me<% } %>" <% if (pageNumber > 1) { %>href="/printing-setups/all/<%= recipeId %>?pageNumber=<%= parseInt(pageNumber) - 1 %>"<% } %>><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325.92 325.92"><defs><style>.cls-1{fill:transparent;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M235.71,325.92H0V0H325.92V325.92H236.34q8.72-7.82,17.41-15.65l-.36-2.06L107.29,163.56,252.23,18.11,236.34,2.05,72.93,163.86a20.79,20.79,0,0,1,3.62,2.29Q155,244.74,233.33,323.39C234.15,324.21,234.92,325.08,235.71,325.92Z"/><path d="M235.71,325.92c-.79-.84-1.56-1.71-2.38-2.53Q155,244.76,76.55,166.15a20.79,20.79,0,0,0-3.62-2.29L236.34,2.05l15.89,16.06L107.29,163.56l146.1,144.65.36,2.06q-8.7,7.83-17.41,15.65Z"/></g></g></svg></a>
        
        <div class="wrapper">
          <% for (let i = 1; i <= totalNumberOfPages; i++ ){ %>
            <div class="pagination-number-frame">
              <a class="pagination-number <% if(pageNumber == i) { %>active<% } %> " href="/printing-setups/all/<%= recipeId %>?pageNumber=<%= i %>"><%= i %></a> 
            </div>
          <% } %>
        </div>

          <a class="arrow-box arrow-right <% if (pageNumber == totalNumberOfPages) { %>deactivate-me<% } %>" <% if (pageNumber != totalNumberOfPages) { %>href="/printing-setups/all/<%= recipeId %>?pageNumber=<%= parseInt(pageNumber) + 1 %>"<% } %>><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325.92 325.92"><defs><style>.cls-1{fill:transparent;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M90.22,325.92H0V0H325.92V325.92H90.85c.57-.62,1.11-1.26,1.71-1.85q78.58-78.87,157.22-157.69a24.49,24.49,0,0,1,3.82-2.54L90,1.82,74.1,17.89l145.47,146L73.05,309c1.93,1.67,3.38,2.76,4.64,4C81.9,317.27,86.05,321.61,90.22,325.92Z"/><path d="M90.22,325.92c-4.17-4.31-8.32-8.65-12.53-12.93-1.26-1.27-2.71-2.36-4.64-4L219.57,163.87,74.1,17.89,90,1.82l163.61,162a24.49,24.49,0,0,0-3.82,2.54Q171.14,245.19,92.56,324.07c-.6.59-1.14,1.23-1.71,1.85Z"/></g></g></svg></a>
    
      </div>
    </div>
  </div>