<script>
  var bodyclass=document.createAttribute("class");
  bodyclass.value="view-tickets-body";
  document.getElementsByTagName("body")[0].setAttributeNode(bodyclass);
</script>

<div class="page-wrapper view-tickets">
  <%- include('partials/navbarMain.ejs') %>
  <%- include('partials/sidebarMain.ejs') %>
  <div class='tickets-card'>
    <div class='workflow-order-header card'>
      
      <div class='header-description'>
        <h1 class=''>Ticket Workflow <span class='text-blue' id="department-select"> - All Departments</span></h1>
        <!-- <p>All jobs tickets can be found in the departments below.</p> -->
      </div>
      <div class="alert-box full-width">
          <%- include ("flashMessages") %>
      </div>
      
      <%- include('partials/requests-workflow-navigation.ejs') %>
      <%- include('partials/ticket-workflow-sorting-filtering.ejs') %>

    </div>

    <div class='scroll-curtain'></div>
    
    <!--- Order Prep Department Start -->
      <% const orderPrepDepartmentName = 'ORDER-PREP' %>
      <% const orderPrepTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[orderPrepDepartmentName]) %>
      <% const numberOfOrderPrepTickets = Object.values(orderPrepTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= orderPrepDepartmentName %>">
        <h4 class='department-name'>Order Prep - <span class='text-blue' id='departmentTotalTickets'><%= numberOfOrderPrepTickets %></span></h4>
        
        <!-- Order Prep | Needs Attention -->
        <% const orderPrepNeedsAttentionTickets = helperMethods.getEmptyArrayIfUndefined(orderPrepTicketsGroupedByDepartmentStatus['NEEDS ATTENTION']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'order-prep-needs-attention',
          cssClassToUseForTableColoring: 'green-master',
          tickets: orderPrepNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | On Hold -->
        <% const orderPrepOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(orderPrepTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'order-prep-on-hold',
          cssClassToUseForTableColoring: 'green-master',
          tickets: orderPrepOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[orderPrepDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: '',
            8: ''
          }
        }) %>

        <!-- Order Prep | Proofing Complete -->
        <% const orderPrepProofingComplete = helperMethods.getEmptyArrayIfUndefined(orderPrepTicketsGroupedByDepartmentStatus['PROOFING COMPLETE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'order-prep-proofing-complete',
          cssClassToUseForTableColoring: 'green-master',
          tickets: orderPrepProofingComplete,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | Waiting on Customer -->
        <% const orderPrepWaitingOnCustomerTickets = helperMethods.getEmptyArrayIfUndefined(orderPrepTicketsGroupedByDepartmentStatus['WAITING ON CUSTOMER']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'order-prep-waiting-on-customer',
          cssClassToUseForTableColoring: 'green-master',
          tickets: orderPrepWaitingOnCustomerTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'follow-up-date',
            7: 'sent-date',
            8: 'due-date'
          }
        }) %>

        <!-- Order Prep | Waiting on Approval -->
        <% const orderPrepWaitingOnApproval = helperMethods.getEmptyArrayIfUndefined(orderPrepTicketsGroupedByDepartmentStatus['WAITING ON APPROVAL']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'order-prep-waiting-on-approval',
          cssClassToUseForTableColoring: 'green-master',
          tickets: orderPrepWaitingOnApproval,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'follow-up-date',
            7: 'sent-date',
            8: 'due-date'
          }
        }) %>
      </div>
      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Order Prep</h4><div class="department-divide-line"></div>
      </div>

      <!--- Art Prep Department Start -->
      <% const artPrepDepartmentName = 'ART-PREP' %> 
      <% const artPrepTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[artPrepDepartmentName]) %>
      <% const numberOfArtPrepTickets = Object.values(artPrepTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= artPrepDepartmentName %>">
        <h4 class='department-name'>Art Prep - <span class='text-blue' id='departmentTotalTickets'><%= numberOfArtPrepTickets %></span></h4>
        
        <!-- Art Prep | Needs Attention -->
        <% const artPrepNeedsAttentionTickets = helperMethods.getEmptyArrayIfUndefined(artPrepTicketsGroupedByDepartmentStatus['NEEDS ATTENTION']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'art-prep-needs-attention',
          cssClassToUseForTableColoring: 'red-master',
          tickets: artPrepNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | On Hold -->
        <% const artPrepOnHold = helperMethods.getEmptyArrayIfUndefined(artPrepTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'art-prep-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          allHoldReasonsForThisDepartment: departmentToHoldReasons[artPrepDepartmentName],
          tickets: artPrepOnHold,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | In Progress -->
        <% const artPrepInProgressTickets = helperMethods.getEmptyArrayIfUndefined(artPrepTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'art-prep-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: artPrepInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Art Prep | Needs Proof -->
        <% const artPrepNeedsProofTickets = helperMethods.getEmptyArrayIfUndefined(artPrepTicketsGroupedByDepartmentStatus['NEEDS PROOF']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'art-prep-needs-proof',
          cssClassToUseForTableColoring: 'red-master',
          tickets: artPrepNeedsProofTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'proofs',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Art Prep</h4><div class="department-divide-line"></div>
      </div>

      <!--- Pre Printing Department Start -->
      <% const prePrintingDepartmentName = 'PRE-PRINTING' %>
      <% const prePrintingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[prePrintingDepartmentName]) %>
      <% const numberOfPrePrintingTickets = Object.values(prePrintingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= prePrintingDepartmentName %>">
        <h4 class='department-name'>Pre-Printing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPrePrintingTickets %></span></h4>
        
        <!-- Pre Printing | Needs Attention -->
        <% const prePrintingNeedsAttentionTickets = helperMethods.getEmptyArrayIfUndefined(prePrintingTicketsGroupedByDepartmentStatus['NEEDS ATTENTION']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'pre-printing-needs-attention',
          cssClassToUseForTableColoring: 'red-master',
          tickets: prePrintingNeedsAttentionTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | On Hold -->
        <% const prePrintingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(prePrintingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'pre-printing-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: prePrintingOnHoldTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | In Progress -->
        <% const prePrintingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(prePrintingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'pre-printing-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: prePrintingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: '',
            7: '',
            8: 'due-date'
          }
        }) %>

        <!-- Pre Printing | Send to Printing -->
        <% const prePrintingSendToPrintingTickets = helperMethods.getEmptyArrayIfUndefined(prePrintingTicketsGroupedByDepartmentStatus['SEND TO PRINTING']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'pre-printing-send-to-printing',
          cssClassToUseForTableColoring: 'red-master',
          tickets: prePrintingSendToPrintingTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Pre-Printing</h4><div class="department-divide-line"></div>
      </div>

      <!--- Printing Department Start -->
      <% const printingDepartmentName = 'PRINTING' %> 
      <% const printingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[printingDepartmentName]) %>
      <% const numberOfPrintingTickets = Object.values(printingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= printingDepartmentName %>">
        <h4 class='department-name'>Printing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPrintingTickets %></span></h4>
        
        <!-- Printing | On Hold -->
        <% const printingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(printingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'printing-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: printingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[printingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | In Progress -->
        <% const printingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(printingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'printing-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: printingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printing Ready --> 
        <% const printingReadyTickets = helperMethods.getEmptyArrayIfUndefined(printingTicketsGroupedByDepartmentStatus['PRINTING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'printing-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: printingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printer One Schedule -->
        <% const printingPrinterOneScheduleTickets = helperMethods.getEmptyArrayIfUndefined(printingTicketsGroupedByDepartmentStatus['PRINTER ONE SCHEDULE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'printing-printer-one-schedule',
          cssClassToUseForTableColoring: 'red-master',
          tickets: printingPrinterOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Printing | Printer Two Schedule -->
        <% const printingPrinterTwoScheduleTickets = helperMethods.getEmptyArrayIfUndefined(printingTicketsGroupedByDepartmentStatus['PRINTER TWO SCHEDULE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'printing-printer-two-schedule',
          cssClassToUseForTableColoring: 'red-master',
          tickets: printingPrinterTwoScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'material',
            7: 'products',
            8: 'due-date'
          }
        }) %>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Printing</h4><div class="department-divide-line"></div>
      </div>

      <!--- Cutting Department Start -->
      <% const cuttingDepartmentName = 'CUTTING' %> 
      <% const cuttingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[cuttingDepartmentName]) %>
      <% const numberOfCuttingTickets = Object.values(cuttingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= cuttingDepartmentName %>">
        <h4 class='department-name'>Cutting - <span class='text-blue' id='departmentTotalTickets'><%= numberOfCuttingTickets %></span></h4>
        
        <!-- Cutting | On Hold -->
        <% const cuttingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          allHoldReasonsForThisDepartment: departmentToHoldReasons[cuttingDepartmentName],
          tickets: cuttingOnHoldTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: 'length',
            6: 'material',
            7: 'from',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | In Progress -->
        <% const cuttingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: cuttingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Cutting Ready -->
        <% const cuttingReadyTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['CUTTING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-ready',
          cssClassToUseForTableColoring: 'red-master',
          tickets: cuttingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Delta One Schedule -->
        <% const cuttingDeltaOneScheduleTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['DELTA ONE SCHEDULE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-delta-one-schedule',
          cssClassToUseForTableColoring: 'red-master',
          tickets: cuttingDeltaOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | Delta Two Schedule -->
        <% const cuttingDeltaTwoScheduleTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['DELTA TWO SCHEDULE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-delta-two-schedule',
          cssClassToUseForTableColoring: 'red-master',
          tickets: cuttingDeltaTwoScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>

        <!-- Cutting | RotoFlex One Schedule -->
        <% const cuttingRotoflexOneScheduleTickets = helperMethods.getEmptyArrayIfUndefined(cuttingTicketsGroupedByDepartmentStatus['ROTOFLEX ONE SCHEDULE']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'cutting-rotoflex-one-schedule',
          cssClassToUseForTableColoring: 'red-master',
          tickets: cuttingRotoflexOneScheduleTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: 'length',
            6: 'die',
            7: 'finish',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Cutting</h4><div class="department-divide-line"></div>
      </div>

      <!--- Winding Department Start -->
      <% const windingDepartmentName = 'WINDING' %> 
      <% const windingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[windingDepartmentName]) %>
      <% const numberOfWindingTickets = Object.values(windingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= windingDepartmentName %>">
        <h4 class='department-name'>Winding - <span class='text-blue' id='departmentTotalTickets'><%= numberOfWindingTickets %></span></h4>
        
        <!-- Winding | On Hold -->
        <% const windingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(windingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'winding-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: windingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[windingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Winding | In Progress -->
        <% const windingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(windingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'winding-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: windingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Winding | Winding Ready -->
        <% const windingReadyTickets = helperMethods.getEmptyArrayIfUndefined(windingTicketsGroupedByDepartmentStatus['WINDING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'winding-ready',
          cssClassToUseForTableColoring: 'red-master',
          tickets: windingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'total-rolls',
            7: 'products',
            8: 'due-date'
          }
        }) %>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Winding</h4><div class="department-divide-line"></div>
      </div>

      <!--- Packaging Department Start -->
      <% const packagingDepartmentName = 'PACKAGING' %> 
      <% const packagingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[packagingDepartmentName]) %>
      <% const numberOfPackagingTickets = Object.values(packagingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= packagingDepartmentName %>">
        <h4 class='department-name'>Packaging - <span class='text-blue' id='departmentTotalTickets'><%= numberOfPackagingTickets %> </span></h4>
        
        <!-- Packaging | On Hold -->
        <% const packagingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(packagingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'packaging-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: packagingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[packagingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Packaging | In Progress -->
        <% const packagingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(packagingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'packaging-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: packagingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'location',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Packaging | Packaging Ready -->
        <% const packagingReadyTickets = helperMethods.getEmptyArrayIfUndefined(packagingTicketsGroupedByDepartmentStatus['PACKAGING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'packaging-ready',
          cssClassToUseForTableColoring: 'red-master',
          tickets: packagingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Packaging</h4><div class="department-divide-line"></div>
      </div>

      <!--- Shipping Department Start-->
      <% const shippingDepartmentName = 'SHIPPING' %>
      <% const shippingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[shippingDepartmentName]) %>
      <% const numberOfShippingTickets = Object.values(shippingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= shippingDepartmentName %>">
        <h4 class='department-name'>Shipping - <span class='text-blue' id='departmentTotalTickets'><%= numberOfShippingTickets %></span></h4>
        
        <!-- Shipping | On Hold -->
        <% const shippingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(shippingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'shipping-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: shippingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[shippingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | In Progress -->
        <% const shippingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(shippingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'shipping-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: shippingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | Shipping Ready -->
        <% const shippingReadyTickets = helperMethods.getEmptyArrayIfUndefined(shippingTicketsGroupedByDepartmentStatus['SHIPPING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'shipping-ready',
          cssClassToUseForTableColoring: 'red-master',
          tickets: shippingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: 'grouped',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Shipping | Farmed Out Tickets -->
        <% const shippingFarmedOutTicketsTickets = helperMethods.getEmptyArrayIfUndefined(shippingTicketsGroupedByDepartmentStatus['FARMED OUT TICKETS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'shipping-farmed-out-tickets',
          cssClassToUseForTableColoring: 'red-master',
          tickets: shippingFarmedOutTicketsTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Shipping</h4><div class="department-divide-line"></div>
      </div>

      <!-- Billing Department Start -->
      <% const billingDepartmentName = 'BILLING' %> 
      <% const billingTicketsGroupedByDepartmentStatus = helperMethods.getEmptyObjectIfUndefined(ticketsGroupedByDestination[billingDepartmentName]) %>
      <% const numberOfBillingTickets = Object.values(billingTicketsGroupedByDepartmentStatus).flat().length %>
      <div class='department-wrapper' data-department="<%= billingDepartmentName %>">
        <h4 class='department-name'>Billing - <span class='text-blue' id='departmentTotalTickets'><%= numberOfBillingTickets %></span></h4>
        
        <!-- Billing | On Hold -->
        <% const billingOnHoldTickets = helperMethods.getEmptyArrayIfUndefined(billingTicketsGroupedByDepartmentStatus['ON HOLD']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'billing-on-hold',
          cssClassToUseForTableColoring: 'red-master',
          tickets: billingOnHoldTickets,
          allHoldReasonsForThisDepartment: departmentToHoldReasons[billingDepartmentName],
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: 'hold-reason',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Billing | In Progress -->
        <% const billingInProgressTickets = helperMethods.getEmptyArrayIfUndefined(billingTicketsGroupedByDepartmentStatus['IN PROGRESS']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'billing-in-progress',
          cssClassToUseForTableColoring: 'red-master',
          tickets: billingInProgressTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>

        <!-- Billing | Billing Ready -->
        <% const billingReadyTickets = helperMethods.getEmptyArrayIfUndefined(billingTicketsGroupedByDepartmentStatus['BILLING READY']) %>
        <%- include('partials/ticket-table.ejs', {
          tableIdentifier: 'billing-ready',
          cssClassToUseForTableColoring: 'green-master',
          tickets: billingReadyTickets,
          columns: {
            1: 'row-number',
            2: 'ticket-number',
            3: 'priority',
            4: '',
            5: '',
            6: '',
            7: 'products',
            8: 'due-date'
          }
        }) %>
      </div>

      <div class="department-end-frame flex-center-center-row full-width">
        <div class="department-divide-line"></div><h4>End Billing</h4><div class="department-divide-line"></div>
      </div>
  </div>
</div>