<h3>Author: <%= cuttingSetup.author && cuttingSetup.author.email || 'N/A' %></h3>
<h3>Machine Name: <%= cuttingSetup.machine && cuttingSetup.machine.name || 'N/A' %></h3>
<h3>Notes: <%= cuttingSetup.notes || 'N/A' %></h3>
<h3>Finish Name: <%= cuttingSetup.finish && cuttingSetup.finish.name || 'N/A' %></h3>
<h3>Setup Feet: <%= cuttingSetup.setupFeet || 'N/A' %></h3>
<h3>Average Job Speed: <%= cuttingSetup.jobSpeed || 'N/A' %></h3>
<h3>Video: <%= cuttingSetup.video || 'N/A' %></h3>
<h3>Difficulty: <%= cuttingSetup.difficulty || 'N/A' %></h3>
<h3>Recipe ID: <%= cuttingSetup.recipe || 'N/A' %></h3>
<h3>Alert Text: <%= cuttingSetup.alertTextBox || 'N/A' %></h3>
<h3>Default Machine Name: <%= cuttingSetup.defaultMachine && cuttingSetup.defaultMachine.name || 'N/A' %></h3>
<h3>Creation Date: <%= cuttingSetup.createdAt.toLocaleString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %></h3>
<h3>Last Updated: <%= cuttingSetup.updatedAt.toLocaleString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %></h3>