<%- include('partials/navbarMain.ejs') %>
<div class='page-wrapper in-progress-view flex-top-center-row'>
    <div class='left-col col'>
        <div class='click-tab ticket-tab active flex-center-left-row'>
            <div class='left-bumper'></div>
            <h3><%= ticket.ticketNumber ?? 'N/A' %></h3>
            <div class='bumper'></div>
        </div>
        <% ticket.products && ticket.products.forEach((product, index) => { %>
            <div class='click-tab product-tab' data-product-number="<%= product.productNumber %>">
                <div class='left-bumper'></div>
                <%= index + 1 %>. <%= product.productNumber ?? 'N/A' %>
                <div class='bumper'></div>
            </div>
        <% }) %>
    </div>
    <div class='right-col col flex-top-center-row'>
        <div class='middle-col flex-top-center-column half-width'>
            <div class='card'>
                <h3 class='ticket-info'>Ticket information goes here.</h3>
                <div class='product-table'>
                    <div class='table-header flex-center-space-around-row'>
                        <div class='col-header'>#</div>
                        <div class='col-header'>Product</div>
                        <div class='col-header'>QTY</div>
                        <div class='col-header'>Frames</div>
                        <div class='col-header'>Feet</div>
                    </div>
                    <div class='table-body flex-top-center-column'>
                        <% ticket.products && ticket.products.forEach((product, index) => { %>
                            <div class='table-row flex-center-center-row'>
                                <div class='col-td'>1</div>
                                <div class='col-td'><%= product.productNumber %></div>
                                <div class='col-td'><%= product.labelQty || 'N/A'%></div>
                                <div class='col-td'><%= product.totalFrames || 'N/A'%></div>
                                <div class='col-td'>50</div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class='job-notes'>
                    <div class='front-note'>
                        <h3>Job Notes</h3>
                        <p>Hello mars please go into my room.</p>
                        <div class='text-left full-width'>
                            <button class='submit-button close-window'>I Have Read</button>
                        </div>
                    </div>
                </div>
                <% ticket.products && ticket.products.forEach((product) => { %>
                <div class='product-info' data-product-number="<%= product.productNumber %>">
                    <% if (ticket.destination.department === 'ORDER-PREP') { %>
                        <p>Order Prep</p>
                    <% } else if (ticket.destination.department === 'ART-PREP' || ticket.destination.department === 'PRE-PRINTING') { %>
                        <p>Art Prep</p>
                        <p>Pre Printing</p>
                    
                        <span><%= product.hotFolder || 'N/A' %> (E)</span>
                        <span><%= product.unwindDirection || 'N/A' %> (F)</span>
                        <span><%= product.cornerRadius || 'N/A' %> (G)</span>
                        <span><%= product.numberOfColors || 'N/A' %> (H)</span>
                        <span><%= product.frameRepeat || 'N/A' %> (I)</span>
                        <span><%= product.sizeAcross || 'N/A' %> (J)</span>
                        <span><%= product.sizeAround || 'N/A' %> (K)</span>
                        <span><%= product.labelsAcross || 'N/A' %> (L)</span>
                        <span><%= product.matrixAcross || 'N/A' %> (M)</span>
                        <span><%= product.matrixAround || 'N/A' %> (N)</span>
                        <span><%= product.labelsAround || 'N/A' %> (O)</span>
                        <span><%= product.topBottomBleed || 'N/A' %> (P)</span>
                        <span><%= product.leftRightBleed || 'N/A' %> (Q)</span>
                        <span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                        <span><%= product.primaryMaterial || 'N/A' %> (S)</span>
                        <span><%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                        <span><%= product.prePrintingNotes || 'N/A' %> (T)</span>
                    
                    <% } else if (ticket.destination.department === 'PRINTING') { %>
                        <p>PRINTING</p>
                        <span><%= product.primaryMaterial || 'N/A' %> (???)</span>
                        <span><%= product.sizeAcross || 'N/A' %> (J)</span>
                        <span><%= product.sizeAround || 'N/A' %> (K)</span>
                        <span><%= product.labelsAcross || 'N/A' %> (L)</span>
                        <span><%= product.matrixAcross || 'N/A' %> (M)</span>
                        <span><%= product.matrixAround || 'N/A' %> (N)</span>
                        <span><%= product.labelsAround || 'N/A' %> (O)</span>
                        <span><%= product.measureAcross || 'N/A' %> (U)</span>
                        <span><%= product.measureAround || 'N/A' %> (V)</span>
                        <span><%= product.labelsPerFrame || 'N/A' %> (R)</span>
                        <span><%= product.printingNotes || 'N/A'%> (AB)</span>
                        <span><%= product.framesPlusOverRun || 'N/A'%> (W)</span>
                        <span><%= product.extraFrames || 'N/A'%> (X)</span>
                        <span><%= product.totalFrames || 'N/A'%> (Y)</span>
                        <span><%= product.totalFeet || 'N/A'%> (Z)</span>
                        <span><%= product.labelQty || 'N/A'%> (AA)</span>
                        <span><%= product.frameRepeat || 'N/A'%> (I)</span>
                        <span><%= product.toolingNotes || 'N/A'%> (ACC)</span>
                        <span><%= product.numberOfColors || 'N/A'%> (H)</span>
                        <span><%= product.unwindDirection || 'N/A'%> (F)</span>
                        <span><%= product.numberOfRolls || 'N/A'%> (AC)</span>
                    
                    <% } else if (ticket.destination.department === 'CUTTING') { %>
                        <p>CUTTING</p>
                        <span><%= product.productDie || 'N/A' %> (AD)</span>
                        <span><%= product.dieCuttingFinish || 'N/A' %> (AE)</span>
                        <span><%= product.varnish || 'N/A' %> (AF)</span>
                        <span><%= product.finishType || 'N/A' %> (AG)</span>
                        <span><%= product.productDieTwo || 'N/A' %> (AH)</span>
                        <span><%= product.dieCuttingMarriedMaterial || 'N/A' %> (AI)</span>
                        <span><%= product.deltaRepeat || 'N/A' %> (AJ)</span>
                        <span><%= product.rotoRepeat || 'N/A' %> (AK)</span>
                        <span><%= product.toolNumberAround || 'N/A' %> (AL)</span>
                        <span><%= product.plateId || 'N/A' %> (AM)</span>
                        <span><%= product.dieCuttingNotes || 'N/A' %> (AN)</span>
                    <% } else if (ticket.destination.department === 'WINDING') { %>
                        <p>WINDING</p>
                        <span> <%= product.labelQty || 'N/A' %> (AA)</span>
                        <span> <%= product.labelsPerRoll || 'N/A' %> (AP)</span>
                        <span>TODO: Waiting on Storm (AQ)</span>
                        <span>  <%= product.unwindDirection || 'N/A' %> (F)</span>
                        <span>  <%= product.coreHeight || 'N/A' %> (AR)</span>
                        <span><%= product.numberOfCores || 'N/A' %> (AS)</span>
                        <span>  <%= product.overRun * 100 %>% (AT)</span>
                        <span>  <%= product.coreDiameter || 'N/A' %> (AU)</span>
                        <span>  <%= product.windingNotes || 'N/A' %> (AV)</span>
                    <% } else if (ticket.destination.department === 'PACKAGING') { %>
                        <p>Packaging</p>
                        
                    <% } else if (ticket.destination.department === 'SHIPPING') { %>
                        <p>Shipping</p>
                        <span><%= ticket.shippingEmailAddress || 'N/A' %> (AW)</span>
                        <span><%= ticket.shippingMethod || 'N/A' %> (AX)</span>
                        <span><%= ticket.shippingInstructions || 'N/A' %> (AY)</span>
                        <span><%= ticket.shippingAddress || 'N/A' %> (AZ)</span>
                        <span><%= ticket.shippingUnitNumber || 'N/A' %> (AAA)</span>
                        <span><%= ticket.shipCity || 'N/A' %> (AAB)</span>
                        <span><%= ticket.shipState || 'N/A' %> (AAC)</span>
                        <span><%= ticket.shipZipCode || 'N/A' %> (AAD)</span>
                        <span><%= ticket.shippingLocationName || 'N/A' %> (AAE)</span>
                        <span><%= ticket.shippingAttention || 'N/A' %> (AAF)</span>
                    <% } else if (ticket.destination.department === 'BILLING') { %>
                        <p>BILLING</p>
                    <% } else { %>
                        <% throw new Error(`Error: an unknown department was encountered called "${ticket.destination.department}".`) %> 
                    <% } %>
                </div>
                <% }) %>
            </div>
            <div class='card'>Hello Mars</div>
        </div>
        <div class='card proof half-width'>
            <div class='proof-placeholder'><div class='flex-center-center-row' style='height: 100%;'><h1 class='text-box'>Random Quote</h1></div></div>
            <iframe id='proof' src= "http://localhost:8080/images/1139D-096 Proof.pdf#zoom=100" type="application/pdf"></iframe>
        </div>
    </div>
</div>